<script>
  individual.rights.then(function (rights) {
    var actions = $("#edit-ScheduledAction, #delete", template);
    if ( !rights.hasValue("v-s:canUpdate", true) ) {
      actions.remove();
    } else {
      individual.on("v-s:hasScheduledAction", ScheduledActionHandler);
      template.one("remove", function () {
        individual.off("v-s:hasComment", ScheduledActionHandler);
      });
      ScheduledActionHandler(individual["v-s:hasScheduledAction"]);
    }
    function ScheduledActionHandler (values) {
      values.length ? actions.hide() : actions.show();
    }
  });

  $(".action", template).click(function (e) {
    e.preventDefault();
    var that = this;
    if ( that.id === "delete" ) {
      var warning = new veda.IndividualModel("v-s:AreYouSure");
      warning.load().then(function (warning) {
        warning = warning["rdfs:label"].map(veda.Util.formatValue).join(" ");
        if ( confirm(warning) ) {
          template.trigger(that.id);
        }
      });
    } else {
      template.trigger(that.id);
    }
  });

  //# sourceURL=v-s_RecursiveScheduledActionTemplate.html
</script>
<div class="media" style="overflow:initial;">
  <div class="media-body" style="overflow:initial;">
    <div rel="v-s:backwardTarget" data-template="v-ui_ClassNameLabelLinkTemplate.html" class="view -edit -search"></div>
    <div id="ScheduledAction-content">
      <em about="v-s:description" property="rdfs:label"></em>
      <div property="v-s:description" class="view -edit -search"></div>
      <veda-control data-type="text" rows="1" property="v-s:description" class="-view edit -search"></veda-control>
      <div class="row">
        <div class="col-md-6">
          <em about="v-s:responsible" property="rdfs:label"></em>
          <div rel="v-s:responsible" data-template="v-ui_LabelTemplate.html"></div>
          <veda-control data-type="link" rel="v-s:responsible" class="-view edit -search fulltext"></veda-control>
        </div>
        <div class="col-md-6">
          <em about="v-s:controller" property="rdfs:label"></em>
          <div rel="v-s:controller" data-template="v-ui_LabelTemplate.html"></div>
          <veda-control data-type="link" rel="v-s:controller" class="-view edit -search fulltext"></veda-control>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <em about="v-s:TaskDateBundle" property="rdfs:label"></em>
          <div property="v-s:dateToPlan" class="view -edit -search"></div>
          <veda-control data-type="dateTime" property="v-s:dateToPlan" class="-view edit -search"></veda-control>
        </div>
        <div class="col-md-3">
          <em about="v-s:TaskPeriodBundle" property="rdfs:label"></em>
          <div rel="v-s:hasPeriod" data-template="v-ui_LabelTemplate.html"></div>
          <veda-control data-type="link" rel="v-s:hasPeriod" class="-view edit -search fulltext"></veda-control>
        </div>
        <div class="col-md-3">
          <em about="v-s:TaskGiveAwatDateBundle" property="rdfs:label"></em>
          <div property="v-s:dateToFact" class="view edit -search"></div>
        </div>
        <div class="col-md-3">
          <em about="v-s:hasStatus" property="rdfs:label"></em>
          <div rel="v-s:hasStatus" class="view edit -search" data-template="v-ui_LabelTemplate.html"></div>
        </div>
      </div>

      <small>
        <a href="#" id="edit-ScheduledAction" class="action" about="v-s:Edit" property="rdfs:label"></a>
        &nbsp;
        <a href="#" id="delete" class="action" about="v-s:Delete" property="rdfs:label"></a>
        &nbsp;
        <a href="#" id="journal" class="action" about="v-s:Journal" property="rdfs:label"></a>
      </small>
    </div>
    <div id="new-reply"></div>
    <hr class="margin-sm">
    <div about="@" rel="v-s:hasScheduledAction" data-template="v-s_RecursiveCommentTemplate.html"></div>
  </div>
</div>
<script>
  $("#journal", template).on("click", function (e) {
    e.preventDefault();
    var journal_uri = individual.id + "j",
        journal = new veda.IndividualModel(journal_uri);
    journal.load().then(function (journal) {
      if ( !journal.hasValue("rdf:type", "rdfs:Resource") ) {
        riot.route("#/" + journal_uri);
      } else {
        var journalEmpty = new veda.IndividualModel("v-s:JournalEmpty");
        journalEmpty.load().then(function (journalEmpty) {
          journalEmpty = journalEmpty.toString();
          alert(journalEmpty);
        });
      }
    });
  });
</script>