%%-*- mode: erlang -*-

{deps, [{webmachine, ".*", {git, "https://github.com/basho/webmachine", "HEAD"}},
{erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "HEAD"}},
{lager, ".*", {git, "https://github.com/basho/lager", "HEAD"}},
{jsonx, ".*", {git, "https://github.com/iskra/jsonx", "HEAD"}}
]}.
