.pids
.settings
.project
.idea
*.geany
*.rf
*.app
*.dprojectoptions
*.buildpath
**/libauthorization.so
**/libauthorization.a
**/Cargo.lock
**/target
/backup
/bin
/data
/logs
/public
/tmp
veda.properties
