.settings
.project
.dub
*.log
data
pacahon-properties.json
veda
veda-fanout
veda-scripts
dub
veda.geany
m.sh
backup
dub.selections.json
/docs/
/node_modules/
/veda-pid
/.externalToolBuilders/
/bin/
/*.rf
/*.app
/*.dprojectoptions
/*.buildpath
veda.properties
/.coverage-results/
/veda-fts-worker
/veda-js-worker
/veda-server
/tmp/
/veda-ltr-scripts
.idea
veda-ft-indexer
veda-bootstrap
*.out
/veda-ttlreader
/backup-binlogs/
/veda-fanout-email
/veda-fanout-sql
/veda-webserver
.veda-pid
/veda-scripts-lp
/veda-scripts-main
/veda-ccus
/veda-mstorage
