.settings
.project
.dub
*.log
data
pacahon-properties.json
veda
dub
veda.geany
m.sh
backup
dub.selections.json
/docs/
/node_modules/
/veda-pid
/doc/
/.externalToolBuilders/
/bin/
/*.rf
/*.app
/*.dprojectoptions
/*.buildpath
veda.properties
/.coverage-results/
/veda-fts-worker
/veda-js-worker
/veda-server
