body {
  overflow-x: hidden;
  font-family:"Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*background-color: #fcfcfc;*/
}

#credentials {
    max-width: 330px;
    padding: 15px;
    margin: 40% auto;
}

#credentials input#login {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#credentials input#password {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.huge {
  font-size: 32px;
  font-weight: bold;
}
footer {
  font-size: 12px;
}
.navbar {
  padding:7px 0px;
  margin-bottom:0px;
  background-image: none;
  border: none;
  box-shadow: none;
}
.navbar-fixed-bottom {
  padding:0px;
}
.navbar .nav {
  margin:2px 0px;
}
.navbar-brand {
  font-size: 20px;
  padding: 0px 15px;
}
.navbar a, .navbar .navbar-text  {
  color: #666;
}
.navbar-fixed-bottom {
  margin:0px;
}
.text-muted {
  color: #707070;
}
.has-error + * {
	color: #a94442;
}
textarea { 
  resize: vertical;
  max-height: 300px; 
}

.popover {
  min-width: 300px !important;
  max-width: 400px;
  width: auto;
  padding: 0px;
}

.no-margin {
  margin: 0px;
}
.margin-sm {
  margin: 5px 0px;
}
.margin-md {
  margin: 10px 0px;
}

.no-padding {
  padding: 0px;
}
.no-border {
  border: none;
}

dl {
  margin-top: 0;
  margin-bottom: 10px;
}
dd {
  margin-top: 3px;
}
dt {
  font-weight: bold;
}
dd {
  font-weight: normal;
}
ol.no-marks, ul.no-marks {
  list-style: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: transparent;
  border: none;
  opacity: 1;
  box-shadow: none !important;
  height:auto;
  padding: 0;
}

/* breadcrumb1 */

.breadcrumb1 { 
	margin: 20px 0px 10px -20px;
	list-style: none; 
	overflow: hidden; 
	font: 12px Helvetica, Arial, Sans-Serif;
	font-weight: bold;
}
.breadcrumb1 li { 
	float: left; 
}
.breadcrumb1 li a {
	color: black;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: lightgreen;                   /* fallback color */
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb1 li.active a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: darkgreen;                   /* fallback color */
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb1 li.disabled a {
	color: dimgray;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: lightgray;                   /* fallback color */
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb1 li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid lightgreen;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb1 li.active a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid darkgreen;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb1 li.disabled a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid lightgray;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb1 li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 6px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb1 li:first-child a {
	padding-left: 20px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.breadcrumb1 li:last-child a {
	padding-right: 20px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.breadcrumb1 li a:hover { 
	color:white;
	background: green; 
}
.breadcrumb1 li a:hover:after { 
	border-left-color: green!important; 
}
.breadcrumb1 li.active a:hover { 
	color:white;
	background: darkgreen; 
}
.breadcrumb1 li.active a:hover:after { 
	border-left-color: darkgreen!important; 
}
.breadcrumb1 li.disabled a:hover { 
	color: dimgray;
	background: lightgray; 
}
.breadcrumb1 li.disabled a:hover:after { 
	border-left-color: lightgray!important; 
}


/* [BEGIN] Typeahead */

span.twitter-typeahead .tt-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 3px 0 30px;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  margin-bottom: 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor > p {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
span.twitter-typeahead .tt-hint {
  color: transparent;
}
#scrollable-typeahead .tt-dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

/* Codemirror editor */
.codemirror-editor { 
  font-size: 12px;
  position: relative;
}

.fs-btn { 
  margin: 5px;
  font-size: 14px;
  position:absolute;right:0px;z-index:999;
}

.has-success .panel {
  color: #3c763d;
  border-color: #3c763d;
}

.has-error .panel {
  color: #a94442;
  border-color: #a94442;
}

html, body { 
  height:99%;
}
.fs-wrapper {
  min-height:100%; 
  position:relative; 
}
.fs {
  position:absolute; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 999999;
}
#login-holder {
  position:absolute; 
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000000;
}

.CodeMirror {
  font-family: monospace;
  height: 400px;
  color: black;
}

.CodeMirror-fs {
  height: 100%!important;
}

/* Controls & values */

veda-control {
  display: block;
}

.value-holder {
  margin-right: 5px;
  white-space: pre-wrap;
}

#prop-actions {
  margin: 5px 5px 5px 0px;
}

#rel-actions {
  margin: 5px 5px 5px 0px;
}

#rel-actions.block {
  position:absolute !important;
  top:0px; 
  right:0px; 
  z-index:100;
}
.red-outline {
  outline: 3px dashed #faa!important;
  outline-offset: 3px!important;
}

/* Template elements visibility in different modes. Works up to 10 levels deep for embedded templates */

.mode-view .view, 
.mode-edit .edit, 
.mode-search .search,

[class*="mode-"] .mode-view .view, 
[class*="mode-"] .mode-edit .edit, 
[class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .search
{
  visibility: visible;
  position: relative;
}

.mode-view .-view,
.mode-edit .-edit, 
.mode-search .-search ,

[class*="mode-"] .mode-view .-view, 
[class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] .mode-search .-search ,

[class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] .mode-search .-search ,

[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search ,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view .-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit .-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search .-search
{
  visibility: hidden;
  position: absolute;
}

.mode-view   [class*="mode-"] > #rel-actions.view, 
.mode-edit   [class*="mode-"] > #rel-actions.edit, 
.mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.search
{
  visibility: visible;
  position: relative;
}

.mode-view   [class*="mode-"] > #rel-actions.-view, 
.mode-edit   [class*="mode-"] > #rel-actions.-edit, 
.mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search,

[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-view   [class*="mode-"] > #rel-actions.-view, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-edit   [class*="mode-"] > #rel-actions.-edit, 
[class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] [class*="mode-"] .mode-search [class*="mode-"] > #rel-actions.-search
{
  visibility: hidden;
  position: absolute;
}

.view > #prop-actions.view,
.edit > #prop-actions.edit,
.search > #prop-actions.search
{
  visibility: visible;
  position: relative;
}

.view > #prop-actions.-view,
.edit > #prop-actions.-edit,
.search > #prop-actions.-search
{
  visibility: hidden;
  position: absolute;
}


/* [BEGIN] NET EDITOR */

.w {
	position:absolute;
	z-index:4;
	border:2px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;		
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
	text-align: center;
}

.w:hover {
	color:blue;
}

.state-task {	
	width: 90px;
	height: 50px;
	-moz-border-radius:8px;
	border-radius:8px;	
}

.state-io-condition {
	width: 50px;
	height: 50px;
	-moz-border-radius:25px;
	border-radius:25px;
}

.state-condition {
	width: 30px;
	height: 30px;
	-moz-border-radius:15px;
	border-radius:15px;
}

.state-name {
	width: inherit;
	position: absolute;
	top: 50px;	
}

.condition-name {
	top: 30px;	
}

.w_active {
	color: #FF0000;
	border:2px solid #FF0000;	
}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	color:blue;
}
._jsPlumb_overlay {
	font-size: larger;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #bbb;
	cursor:pointer;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 4px;
	width:11px;
	height:11px;
	background-color:#bbb;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

._jsPlumb_endpoint {
	z-index:3;
}

.dragHover { 
	border:2px solid #bbb; 
}

path { 
	cursor:pointer; 
}

.subnet-link {
	cursor: pointer;
}

.properties-editor-add-button {
	cursor: pointer;
}

.aLabel {
	display: none;
}

._jsPlumb_connector { z-index:18 !important; }
._jsPlumb_endpoint { z-index:19 !important; }
._jsPlumb_overlay { z-index:20 !important; }


.calculated-height {
    height: -moz-calc(100% - 50px - 23px);
    height: -webkit-calc(100% - 50px - 23px);
    height: calc(100% - 50px - 23px);
}​

.split-join {
   background-repeat:no-repeat;
   background-position:center center;
   background-size: 100% 100%, auto;
}

.workflow-wrapper {
	height: 100%;
	overflow-x:hidden;
    overflow-y:hidden;
}

.workflow-canvas-wrapper {	
    height: -moz-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: calc(100% - 45px);
	border: 1px solid #ddd;
    border-radius: 5px;	
	overflow-x:hidden;
	overflow-y:hidden;
	position: relative;
}

.workflow-wrapper #props-col, .workflow-wrapper #props {
	overflow-x:auto;
	overflow-y:auto;
	font-size:13px;
}

.workflow-wrapper #workflow-toolbar {
	position:relative;
	z-index:998;
}

#workflow-canvas {
	background: #f8f8f8;
	position: relative;
	cursor: move;
}

#workflow-context-menu {
    position: absolute;
    display:none;
    z-index: 100;
}

.workflow-context-menu-list {
	background-color: #fff; 
	border: 1px solid #ccc; 
	list-style-type: none; 
	padding: 5px; 
	font-family: Lucida Console;
}

svg.process-path-highlight path
{
	stroke:red;
	stroke-width:2;
}

.properties-editor {
	
/*	width: auto 100% !important; */
}
/* [END] NET EDITOR */
