[package]
name = "veda-sparql-indexer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = { version = "0.11", features = ["blocking", "json"] }
chrono = "0.4"
log = "0.4"
anyhow = "1"
futures = "0.3.28"
tokio = { version = "1.32.0", default-features = false, features = ["macros", "rt-multi-thread", "time"] }
bincode = "1.3.3"
base64 = "0.13"
version = "3.0.0"
git-version = "0.3.9"

v_common = { package = "v-common", version = "=0.10.6" }
#v_common = { package = "v-common", path = "../../../v-common" }
