<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="http://semantic-machines.com">semantic-machines.com</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        Hosted by
	<a href="https://github.com">
          <img src="http://semantic-machines.github.io/veda/img/footer-logo.png" width="100" height="30" alt="GitHub • Social coding">
        </a>
      </div>
    </div>
  </div>

</footer>
