{
  "plugins": [
    "@babel/plugin-transform-instanceof",
    "@babel/plugin-transform-modules-systemjs"
  ],
  "presets": [["minify", {
    "booleans": true,
    "builtIns": false,
    "consecutiveAdds": true,
    "deadcode": true,
    "evaluate": true,
    "flipComparisons": true,
    "guards": true,
    "infinity": true,
    "mangle": true,
    "memberExpressions": true,
    "mergeVars": true,
    "numericLiterals": true,
    "propertyLiterals": true,
    "regexpConstructors": true,
    "removeConsole": false,
    "removeDebugger": true,
    "removeUndefined": true,
    "replace": true,
    "simplify": true,
    "simplifyComparisons": true,
    "typeConstructors": true,
    "undefinedToVoid": true
  }]]
}