<script>
  /*var counter_uri = "d:taskCounter_" + veda.user.id.split(":").join("_");
  $(".label", template).attr("about", counter_uri);*/
  template.tooltip({
    container: template,
    placement: "bottom",
    trigger: "hover",
    title: individual["rdfs:label"].map(veda.Util.formatValue).join(" ")
  });
  //# sourceURL=v-cal_FunctionCalendarIndicatorTemplate.html_pre
</script>
<a href="#/@" data-toggle="tooltip" data-trigger="hover" data-placement="bottom">
  <span class="fa fa-calendar fa-lg"></span>
  <!--span id="counter" class="label label-danger" property="v-ft:inboxWeekCount"></span-->
</a>