<script>
  var notify = new veda.Notify();

  if ( !individual.hasValue("v-s:creator", veda.appointment || veda.user) ) {
    $(".action.save-registry", template).click(function () {
      var personalLabel = prompt( new veda.IndividualModel("v-fs:EnterLabel").toString(), individual.toString() );
      if (!personalLabel) { return; }
      individual.clone()
      .then(function (personalRegistry) {
        personalRegistry["rdf:type"] = [ new veda.IndividualModel("v-fs:PersonalSearch") ];
        personalRegistry["v-fs:searchResult"] = [];
        personalRegistry["v-fs:selected"] = [];
        personalRegistry["v-fs:operation"] = [];
        personalRegistry["v-fs:authorized"] = [];
        personalRegistry["v-fs:cursor"] = [];
        personalRegistry["v-fs:estimated"] = [];
        personalRegistry["v-fs:limit"] = [];
        personalRegistry["v-fs:top"] = [];
        personalRegistry["v-s:creator"] = [];
        personalRegistry["v-s:created"] = [];
        personalRegistry["rdfs:isDefinedBy"] = [];
        personalRegistry["rdfs:label"] = [ personalLabel ];
        var searchBlank = individual.hasValue("v-fs:searchBlank") ? individual["v-fs:searchBlank"][0] : undefined;
        if (searchBlank && searchBlank.object) {
          return searchBlank.clone()
          .then(function(personalRegistryBlank) {
            personalRegistryBlank["rdfs:isDefinedBy"] = [];
            personalRegistryBlank.object = searchBlank.object;
            return personalRegistryBlank.updateBlank();
          })
          .then(function(personalRegistryBlank) {
            personalRegistry["v-fs:searchBlank"] = [ personalRegistryBlank ];
            return personalRegistry.save();
          });
        } else {
          return personalRegistry.save();
        }
      })
      .then(function(personalRegistry) {
        return veda.user.aspect.load().then(function (aspect) {
          aspect.addValue("v-s:hasRegistry", personalRegistry);
          return aspect.save();
        });
      })
      .then(function () {
        return new veda.IndividualModel("v-fs:RegistrySuccessfullySaved").load();
      })
      .then(function (message) {
        notify("success", { message: message });
      })
      .catch(function (error) {
        notify("danger", { message: error });
      });
    });
  } else {
    $(".action.save-registry", template).remove();
  }

  individual.rights.then(function (rights) {
    if ( rights.hasValue("v-s:canUpdate", true) ) {
      $(".action.update-registry", template).click(function () {
        individual["v-fs:searchResult"] = [];
        var searchBlank = individual.hasValue("v-fs:searchBlank") ? individual["v-fs:searchBlank"][0] : undefined;
        if (searchBlank && searchBlank.object) {
          searchBlank.updateBlank()
          .then(function () {
            return new veda.IndividualModel("v-fs:RegistrySuccessfullyUpdated").load();
          })
          .then(function (message) {
            notify("success", { message: message.toString() });
          })
          .catch(function (error) {
            notify("danger", { message: error });
          });
        }
      });
    } else {
      $(".action.update-registry", template).remove();
    }

    if ( rights.hasValue("v-s:canDelete", true) ) {
      $(".action.delete-registry", template).click(function () {
        veda.user.aspect.load()
        .then(function (aspect) {
          aspect.removeValue("v-s:hasRegistry", individual);
          return aspect.save();
        })
        .then(function () {
          return individual.delete();
        })
        .then(function () {
          return new veda.IndividualModel("v-fs:RegistrySuccessfullyDeleted").load();
        })
        .then(function (message) {
          return notify("success", { message: message });
        })
        .catch(function (error) {
          notify("danger", { message: error });
        });
      });
    } else {
      $(".action.delete-registry", template).remove();
    }
  });

//# sourceURL=v-fs_AttributiveSearchManagementTemplate.html_pre
</script>
<div>
  <div class="container sheet">
    <div class="ribbon-wrapper top-left">
      <div class="ribbon top-left primary" about="v-fs:SearchBundle" property="rdfs:label"></div>
    </div>
    <div class="actions text-right">
      <button class="action save-registry btn btn-primary" about="v-fs:SavePersonalRegistry" property="rdfs:label"></button>
      <button class="action update-registry btn btn-primary" about="v-fs:UpdatePersonalRegistry" property="rdfs:label"></button>
      <button class="action delete-registry btn btn-link" about="v-s:Delete" property="rdfs:label"></button>
    </div>
  </div>
  <div class="margin-lg" about="@" data-template="v-fs_AttributiveSearchTemplate.html">
</div>