<script>
  var relatedTasks = new veda.IndividualModel("v-ft:RelatedTasks");
  return relatedTasks.load().then(function (relatedTasks) {
    relatedTasks.clearValue("v-fs:searchResult");
    var taskId = individual.id;
    var docId = individual.hasValue("v-wf:onDocument") && individual["v-wf:onDocument"][0].id;
    var queryStr = [
      "'@' != '" + taskId + "'",
      "'v-wf:onDocument' == '" + docId + "'",
      "'rdf:type'==='v-wf:DecisionForm'",
      "'v-wf:isCompleted'== false "
    ].join(" && ");
    relatedTasks["v-fs:fulltextQuery"] = [ queryStr ];
  });
  //# sourceURL=v-ft_TaskRelatedTasksTemplate.html_pre
</script>
<div>
  <div about="v-ft:RelatedTasks" data-template="v-fs_AttributiveSearchInlineTemplate.html"></div>
</div>