<script>
  if (individual.hasValue("rdf:type", "v-s:Appointment")) {
    $("#orgLabel", template).remove();
    $("span.unit-icon", template).remove();
    $("div.logo-image", template).remove();
    return individual.getPropertyChain("v-s:employee", "v-s:hasImage").then(function(image) {
      if (image.length == 0) {
        individual["v-s:employee"][0]["v-s:hasImage"] = [new veda.IndividualModel("v-s:DefaultPhoto")];
      }
      return true;
    });
  } else {
    var icon = "fa fa-lg";
    if (individual.hasValue('rdf:type', 'v-s:Organization')) {
      $("span.unit-icon", template).remove();
    } else if (individual.hasValue('rdf:type', 'v-s:Department' ) || individual.hasValue('rdf:type', 'v-s:OrgGroup')) {
      icon = icon+" fa-folder-o";
      $("span.unit-icon", template).addClass(icon);
      $("div.logo-image", template).remove();
    }
    $("div.unit-image", template).remove();
    $("#appLabel", template).remove();
  };
  //# sourceURL=v-s_ContactCardTemplate.html_pre
</script>
<tr>
  <td>
    <div class="unit-image" about="@" rel="v-s:employee">
      <div about="@" rel="v-s:hasImage" style="width:60px; height:80px">
        <div class="img-thumbnail pointer" about="@" data-template="v-ui_ImageTemplate.html"></div>
      </div>
    </div>
    <div class="logo-image" about="@" rel="v-s:hasImage" style="width:50px; height:50px">
      <div class="img-thumbnail" about="@" data-template="v-ui_ImageTemplate.html"></div>
    </div>
    <span class="unit-icon"></span>
  </td>
  <td>
    <div class="col-md-8">
      <div id="orgLabel" about="@" property="rdfs:label"></div>
      <div id="appLabel">
        <div about="@" rel="v-s:employee">
          <span about="@" property="v-s:lastName"></span>
          <span about="@" property="v-s:firstName"></span>
          <span about="@" property="v-s:middleName"></span>
        </div>
        <div about="@" rel="v-s:occupation">
          <span about="@" property="rdfs:label"></span>
        </div>
        <div class="absenceBlock" about="@" rel="v-s:employee">
          <span about="v-s:AbsenceUntilBundle" property="rdfs:label"></span><span about="@" property="v-s:dateAbsenceTo"></span>
          <div about="@" rel="v-s:delegate">
            <span about="v-s:delegate" property="rdfs:label"></span><span property="rdfs:label"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hideInStructure">
        <span class="fa fa-lg fa-sitemap open-structure pointer margin-sm-h"></span>
        <span about="@" rel="v-s:parentOrganization" data-template="v-ui_LabelTemplate.html"></span>
      </div>
    </div>
  </td>
  <td>
    <div class="col-md-11">
      <div about="@" rel="v-s:employee">
        <div about="@" rel="v-s:hasCommunicationMean" data-template="v-ui_CompactCommunicationMeanTemplate.html"></div>
      </div>
      <div about="@" rel="v-s:hasCommunicationMean" data-template="v-ui_CompactCommunicationMeanTemplate.html"></div>
    </div>
    <div class="col-md-1">
      <span class="hidden faviconIcon pointer fa fa-lg fa-star-o"></span>
    </div>
  </td>
  <td>
    <div>
      <span about="@" class="zoom hidden" data-template="v-ui_IconModalTemplate.html"></span>
    </div>
  </td>
</tr>
<script>
  var isOrgHasComm = false;
  var isAppHasComm = false;
  if (individual.hasValue("v-s:employee")) {
    isAppHasComm = individual["v-s:employee"][0].hasValue("v-s:hasCommunicationMean");
    if (!individual["v-s:employee"][0].hasValue("v-s:dateAbsenceTo")) {
      $(".absenceBlock", template).remove();
    }
  } else {
    isOrgHasComm = individual.hasValue("v-s:hasCommunicationMean");
  };
  if (isOrgHasComm || isAppHasComm) {
    var faviconIcon = $("span.faviconIcon", template);
    faviconIcon.removeClass("hidden");
    var contactHolder = faviconIcon.closest("tr").attr("resource");
    if (veda.user.aspect.hasValue("v-s:hasFavoriteContact", contactHolder)) {
      faviconIcon.toggleClass("fa-star-o fa-star");
    };

    faviconIcon.click(function(){
      if (faviconIcon.hasClass("fa-star-o")) {
        veda.user.aspect.addValue("v-s:hasFavoriteContact", new veda.IndividualModel(contactHolder));
      } else if (faviconIcon.hasClass("fa-star")) {
        veda.user.aspect.removeValue("v-s:hasFavoriteContact", new veda.IndividualModel(contactHolder));
      };
      veda.user.aspect.save();
      faviconIcon.toggleClass("fa-star-o fa-star");
    });
  };
  //# sourceURL=v-s_ContactCardTemplate.html_post
</script>