<div class="container sheet">
  <h2 about="v-s:Membership" property="rdfs:label"></h2>
  <hr>
  <em about="rdfs:label" property="rdfs:label"></em>
  <div property="rdfs:label" class="view -edit -search"></div>
  <veda-control data-type="string" property="rdfs:label" class="-view edit search"></veda-control>

  <em about="rdfs:comment" property="rdfs:label"></em>
  <div property="rdfs:comment" class="view -edit -search"></div>
  <veda-control data-type="text" rows="2" property="rdfs:comment" class="-view edit search"></veda-control>

  <em about="v-s:memberOf" property="rdfs:label"></em>
  <div rel="v-s:memberOf" data-template="v-ui_LabelLinkTemplate.html" class="view -edit search"></div>
  <input id="memberOf" type="text" class="-view edit search form-control" />

  <em about="v-s:resource" property="rdfs:label"></em>
  <div rel="v-s:resource" data-template="v-ui_LabelLinkTemplate.html" class="view -edit search"></div>
  <input id="resource" type="text" class="-view edit search form-control" />

  <em about="v-s:updateCounter" property="rdfs:label"></em>
  <div property="v-s:updateCounter" class="view edit search"></div>
  <veda-control data-type="integer" property="v-s:updateCounter" class="-view edit search"></veda-control>

  <hr>

  <div class="checkbox">
    <label>
      <veda-control property="v-s:canCreate" data-type="boolean"></veda-control>
      <em about="v-s:canCreate" property="rdfs:label"></em>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <veda-control property="v-s:canRead" data-type="boolean"></veda-control>
      <em about="v-s:canRead" property="rdfs:label"></em>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <veda-control property="v-s:canUpdate" data-type="boolean"></veda-control>
      <em about="v-s:canUpdate" property="rdfs:label"></em>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <veda-control property="v-s:canDelete" data-type="boolean"></veda-control>
      <em about="v-s:canDelete" property="rdfs:label"></em>
    </label>
  </div>
  <hr>
  <div about="@" data-template="v-ui_SystemPropertiesNewTemplate.html" data-embedded="true"></div>
  <br>
  <div class="actions view edit -search">
    <span about="@" data-template="v-ui_StandardButtonsTemplate.html" data-embedded="true"
      data-buttons="edit save cancel delete"></span>
  </div>
  
</div>
<script>
  $("#memberOf", template).change(function () {
    var uri = $(this).val();
    if (uri) {
      individual["v-s:memberOf"] = [new veda.IndividualModel(uri)];
    } else {
      individual["v-s:memberOf"] = [];
    }
  });

  $("#resource", template).change(function () {
    var uri = $(this).val();
    if (uri) {
      individual["v-s:resource"] = [new veda.IndividualModel(uri)];
    } else {
      individual["v-s:resource"] = [];
    }
  });
  //# sourceURL=v-s_MembershipTemplate.html_post
</script>