<div>
  <table class="table table-hover">
    <thead>
      <th width="7%"><span class="glyphicon glyphicon-chevron-down"></span></th>
      <th width="60%"><span about="rdfs:label" property="rdfs:label"></span></th>
      <th width="28%"><span about="v-s:ContactsBundle" property="rdfs:label"></th>
      <th></th>
    </thead>
    <tbody about="@" rel="v-s:hasFavoriteContact" data-template="v-s_ContactCardTemplate.html">
      <script>
        $(".open-structure").remove();
      </script>
    </tbody>
  </table>
</div>
<script>

</script>