<script>
  if (veda.user && veda.user.hasValue("v-s:parentOrganization")) {
    var selfOrg = veda.user["v-s:parentOrganization"][0];
    return selfOrg.present($("#selfOrg span", template), "v-ui_LabelTemplate.html");
  } else {
    $("#selfOrg", template).remove();
  }
//# sourceURL=v-s_ContactsStructureTemplate.html_pre
</script>
<div>
  <style>
    div.value-row > div.item {
      padding: 8px;
    }
    div.item:hover {
      background-color: #fcf8e3;
    }
    div.warning {
      background-color: #faf2cc;
    }
    #searchText input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .children {
      border-left: 1px dashed #eee;
      padding-left: 8px;
      margin-left: 14px;
    }
    #orgTree {
      border-right: 1px solid #ccc;
    }
    .result-table thead {
      background-color: #f5f5f5;
    }

  </style>
  <div class="row  margin-md">
    <div class="col-md-5">
      <veda-control id="searchText" property="*" data-type="string"></veda-control>
      <div class="margin-sm">
        <button id="searchButton" class="btn btn-primary" type="button" about="v-fs:Find" property="rdfs:label"></button>
        <button id="resetButton" class="btn btn-default" type="button" about="v-s:Reset" property="rdfs:label"></button>
        <span class="text-muted padding-md" about="v-fs:CtrlEnterBundle" property="rdfs:label"></span>
      </div>
    </div>
    <div class="col-md-4">
      <veda-control data-type="link" rel="v-s:managedOrganization" data-template="{@.rdfs:label}, {@.v-s:taxId}" class="fulltext" data-query-prefix="('rdf:type' === 'v-s:Organization')"></veda-control>
      <button id="selfOrg" class="btn btn-xs btn-primary margin-sm">
        +<span></span>
      </button>
      <button id="tenant" class="btn btn-xs btn-primary margin-sm">
        <span>+</span>
        <span about="v-s:vedaInfo" rel="v-s:tenant" data-template="v-ui_LabelTemplate.html"></span>
      </button>
    </div>
    <div class="col-md-1">
      <div class="checkbox margin-sm">
        <label id="deleted-checkbox">
          <input type="checkbox"/>
          <span about="v-s:deleted" property="rdfs:label"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="not-found alert alert-warning hidden">
    <strong about="v-fs:Empty" property="rdfs:label"></strong>
    <span about="v-fs:NothingFound" property="rdfs:label"></span>
  </div>
  <table class="table result-table" id="resultOrg" style="display:none">
    <thead>
      <th width="7%"><span class="glyphicon glyphicon-chevron-down"></span></th>
      <th width="60%">
        <label about="v-s:OrganizationsBundle" property="rdfs:label"></label>
        <small class="result-info-container margin-md-h" style="color:black; font-weight: normal">
          <span about="v-fs:cursor" property="rdfs:label"></span>
          <span class="badge"></span>&nbsp;&nbsp;
          <span about="v-fs:estimated" property="rdfs:label"></span>
          <span class="badge"></span>
        </small>
      </th>
      <th width="28%"></th>
      <th></th>
    </thead>
    <tbody></tbody>
    <tfoot class="result-info-container">
      <tr>
        <td><button class="btn btn-primary more-results" data-search-type="org" about="v-fs:MoreResults" property="rdfs:label"></button></td>
        <td>
          <small style="color:black;">
            <span about="v-fs:cursor" property="rdfs:label"></span>
            <span class="badge"></span>&nbsp;&nbsp;
            <span about="v-fs:estimated" property="rdfs:label"></span>
            <span class="badge"></span>
          </small>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <table class="table result-table" id="resultDep" style="display:none">
    <thead>
      <th width="7%"><span class="glyphicon glyphicon-chevron-down"></span></th>
      <th width="60%">
        <label about="v-s:DepartmentsBundle" property="rdfs:label"></label>
        <small class="result-info-container margin-md-h" style="color:black; font-weight: normal">
          <span about="v-fs:cursor" property="rdfs:label"></span>
          <span class="badge"></span>&nbsp;&nbsp;
          <span about="v-fs:estimated" property="rdfs:label"></span>
          <span class="badge"></span>
        </small>
      </th>
      <th width="28%"></th>
      <th></th>
    </thead>
    <tbody></tbody>
    <tfoot class="result-info-container">
      <tr>
        <td><button class="btn btn-primary more-results" data-search-type="dep" about="v-fs:MoreResults" property="rdfs:label"></button></td>
        <td>
          <small style="color:black">
            <span about="v-fs:cursor" property="rdfs:label"></span>
            <span class="badge"></span>&nbsp;&nbsp;
            <span about="v-fs:estimated" property="rdfs:label"></span>
            <span class="badge"></span>
          </small>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <table class="table result-table" id="resultApp" style="display:none">
    <thead>
      <th width="7%"><span class="glyphicon glyphicon-chevron-down"></span></th>
      <th width="60%">
        <label about="v-s:AppointmentsBundle" property="rdfs:label"></label>
        <small class="result-info-container margin-md-h" style="color:black; font-weight: normal">
          <span about="v-fs:cursor" property="rdfs:label"></span>
          <span class="badge"></span>&nbsp;&nbsp;
          <span about="v-fs:estimated" property="rdfs:label"></span>
          <span class="badge"></span>
        </small>
      </th>
      <th width="28%"></th>
      <th></th>
    </thead>
    <tbody></tbody>
    <tfoot class="result-info-container">
      <tr>
        <td><button class="btn btn-primary more-results" data-search-type="app" about="v-fs:MoreResults" property="rdfs:label"></button></td>
        <td>
          <small style="color:black">
            <span about="v-fs:cursor" property="rdfs:label"></span>
            <span class="badge"></span>&nbsp;&nbsp;
            <span about="v-fs:estimated" property="rdfs:label"></span>
            <span class="badge"></span>
          </small>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <table class="table result-table" id="resultPos" style="display:none">
    <thead>
      <th width="7%"><span class="glyphicon glyphicon-chevron-down"></span></th>
      <th width="60%">
        <label about="v-s:PositionsBundle" property="rdfs:label"></label>
        <small class="result-info-container margin-md-h" style="color:black; font-weight: normal">
          <span about="v-fs:cursor" property="rdfs:label"></span>
          <span class="badge"></span>&nbsp;&nbsp;
          <span about="v-fs:estimated" property="rdfs:label"></span>
          <span class="badge"></span>
        </small>
      </th>
      <th width="28%"></th>
      <th></th>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <td><button class="btn btn-primary more-results" data-search-type="pos" about="v-fs:MoreResults" property="rdfs:label"></button></td>
        <td>
          <small style="color:black">
            <span about="v-fs:cursor" property="rdfs:label"></span>
            <span class="badge"></span>&nbsp;&nbsp;
            <span about="v-fs:estimated" property="rdfs:label"></span>
            <span class="badge"></span>
          </small>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <br>
  <div class="row">
    <div class="col-md-4" id="orgTree"></div>
    <div class="col-md-8" id="orgContent">
      <div id="parentContainer" class="warning padding-md">
        <div about="@" property="rdfs:label"></div>
        <div about="@" rel="v-s:hasCommunicationMean">
          <div>
            <strong about="@" rel="v-s:hasCommunicationMeanChannel" data-template="v-ui_LabelTemplate.html"></strong>
            <span about="@" property="v-s:description"></span>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <th width="10%"></th>
          <th width="45%"><span about="rdfs:label" property="rdfs:label"></span></th>
          <th width="45%"><span about="v-s:ContactsBundle" property="rdfs:label"></span></th>
          <th></th>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <td></td>
            <td>
              <button id="showMoreCards" class="btn btn-primary" about="v-fs:MoreResults" property="rdfs:label"></button>
              <small class="margin-md-h" style="color:black">
                <span about="v-fs:cursor" property="rdfs:label"></span>
                <span class="badge"></span>&nbsp;&nbsp;
                <span about="v-fs:estimated" property="rdfs:label"></span>
                <span class="badge"></span>
              </small>
            </td>
            <td></td><td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<script>
  var loadIndicator = $("#load-indicator");
  var findDeleted = false;
  var searchOrgMode = individual.hasValue("v-s:managedOrganization") ? "targetOrg" : "allOrg";;
  var isContactManager = false;
  var userDisplayedElements;
  if (veda.user.preferences.hasValue("v-ui:displayedElements")) {
    userDisplayedElements = veda.user.preferences["v-ui:displayedElements"][0];
  } else {
    userDisplayedElements = 10;
  }
  new veda.IndividualModel("v-s:vedaInfo").load().then(function(vedaInfo) {
    if (vedaInfo.hasValue("v-s:tenant") && vedaInfo["v-s:tenant"][0].id != veda.appointment["v-s:parentOrganization"][0].id) {
      $("#tenant", template).click(function(){
        individual["v-s:managedOrganization"] = vedaInfo["v-s:tenant"];
      });
    } else {
      $("#tenant", template).remove();
    };
  });

  veda.user.isMemberOf("cfg:ContactManagerGroup").then(function(isMember) {
    isContactManager = isMember || veda.appointment.id == "cfg:AdministratorAppointment";
  });

  $("#selfOrg", template).click(function(){
    individual["v-s:managedOrganization"] = veda.user["v-s:parentOrganization"];
  });

  $(".result-table thead", template).click(function(){
    var self = $(this);
    $("span.glyphicon", self).toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
    self.siblings().toggle();
  });

  template.on("click", ".img-thumbnail", function(e){
    e.preventDefault();
    var uri = $(this).attr("resource");
    var modal = veda.Util.showSmallModal(new veda.IndividualModel(uri), "v-ui_ImageTemplate.html");
    modal.find(".modal-dialog").removeClass("modal-lg").addClass("modal-sm");
  });

  $("#deleted-checkbox", template).click(function(){
    var checkbox = $("#deleted-checkbox input", template);
    findDeleted = checkbox.is(':checked');
  });

  var orgTree = $("#orgTree", template);
  var orgContent = $("#orgContent", template);

  var parentContainerTmpl =
    '<div class="row">'+
      '<div class="col-md-6">'+
        '<strong about="@" property="rdfs:label"></strong>'+
        '<small class="margin-md-h" style="color:black">'+
          '<span about="v-fs:cursor" property="rdfs:label"></span>'+
          '<span class="margin-sm-h badge"></span>&nbsp;&nbsp;'+
          '<span about="v-fs:estimated" property="rdfs:label"></span>'+
          '<span class="margin-sm-h badge"></span>'+
        '</small>'+
      '</div>'+
      '<div class="col-md-5" about="@" rel="v-s:hasCommunicationMean">'+
        '<div>'+
          '<strong class="margin-sm-h" about="@" rel="v-s:hasCommunicationMeanChannel" data-template="v-ui_LabelTemplate.html"></strong>'+
          '<span about="@" property="v-s:description"></span>  '+
        '</div>'+
      '</div>'+
      '<div class="col-md-1">'+
        '<span class="hidden faviconIcon pointer fa fa-lg fa-star-o"></span>'+
        '<span style="float:right" about="@" class="zoom hidden" data-template="v-ui_IconModalTemplate.html"></span>' +
      '</div>'+
    '</div>';

  function drawCards(parent, from) {
    loadIndicator.show();
    var isNeedBtnMore = false;
    var limit = userDisplayedElements;
    if (from == undefined) {
      $("tbody", orgContent).empty();
      orgContent.show();
      from = 0;
    }
    $("#parentContainer", orgContent).empty();

    //parent already has list of all children
    return parent.present($("#parentContainer", orgContent), parentContainerTmpl).then(function(tmpl) {
      if (parent.hasValue("v-s:hasCommunicationMean")) {
        var faviconIcon = $("span.faviconIcon", tmpl);
        faviconIcon.removeClass("hidden");
        if (veda.user.aspect.hasValue("v-s:hasFavoriteContact", parent)) {
          faviconIcon.toggleClass("fa-star-o fa-star");
        };
        faviconIcon.click(function(){
          if (faviconIcon.hasClass("fa-star-o")) {
            veda.user.aspect.addValue("v-s:hasFavoriteContact", parent);
          } else if (faviconIcon.hasClass("fa-star")) {
            veda.user.aspect.removeValue("v-s:hasFavoriteContact", parent);
          };
          veda.user.aspect.save();
          faviconIcon.toggleClass("fa-star-o fa-star");
        });
      }
      if (isContactManager) $(".zoom.hidden", tmpl).removeClass("hidden");
      return getChildren(parent);
    }).then(function(childrenUris){
      var endIndex = childrenUris.length > from + limit ? from + limit : childrenUris.length;
      var promises = [];
      for (var i = from; i < endIndex; i++) {
        var uri = childrenUris[i];
        promises.push(new veda.IndividualModel(uri).present($("<div></div>"), "v-s_ContactCardTemplate.html"));
      };
      if (endIndex != childrenUris.length) {
        isNeedBtnMore = true;
      };
      $("span.badge:nth-child(4)", orgContent).text(childrenUris.length);
      $("span.badge:nth-child(2)", orgContent).text(endIndex);
      if (promises.length == 0) {
        var emptyIndivid = new veda.IndividualModel("v-fs:Empty");
        promises.push(emptyIndivid.present($("<div></div>"), "v-s_ContactCardTemplate.html"));
      };
      return Promise.all(promises);
    }).then(function(templates) {
      for (var i = 0; i < templates.length; i++){
        $(".hideInStructure", templates[i]).remove();
        $("tbody", orgContent).append(templates[i]);
        if (isContactManager) $(".zoom.hidden", templates[i]).removeClass("hidden");
      }
      if (isNeedBtnMore) {
        $("tfoot", orgContent).show();
        $("tfoot #showMoreCards", orgContent).off("click");
        $("tfoot #showMoreCards", orgContent).click(function(){
          drawCards(parent, from+limit);
        });
      } else {
        $("tfoot", orgContent).hide();
      }
      loadIndicator.hide();
      return orgContent;
    });
  }

  function initialStructure(org) {
    orgTree.empty();
    orgContent.hide();
    if (org == undefined) {
      org = individual.hasValue('v-s:managedOrganization')? individual['v-s:managedOrganization'][0] : null;
    }
    if ( org ) {
      return getRowTemplate(org).then(function (tmpl) {
        return org.present(orgTree, tmpl);
      }).then(function (rendered) {
        var row = $("#orgTree div.value-row", template);
        return openRow(row).then(function() {
          //drawCards(org);
          return rendered;
        })
      });
    } else {
      return Promise.resolve(false);
    }
  }

  function getRowTemplate(value) {
    return value.load().then(function (value) {
      var rowTmpl = "<div class='value-row'>" +
                      "<div class='item'>" +
                        "<a href='#' class='expand glyphicon glyphicon-chevron-right'></a>" +
                        "<span style='margin:0 5px;' class='fa fa-lg {icon}'></span>" +
                        "<span about='@' data-template='v-ui_LabelTemplate.html'></span>" +
                      "</div>" +
                    "</div>";
      var icon = "";
      if ( value.hasValue('rdf:type', 'v-s:Appointment') ) {
        return null;
      };
      if ( value.hasValue('rdf:type', 'v-s:Organization') ) {
        icon = 'fa-sitemap';
      }
      if ( value.hasValue('rdf:type', 'v-s:Department' ) || value.hasValue('rdf:type', 'v-s:OrgGroup') ) {
        icon = 'fa-folder-o';
      }
      return rowTmpl.replace("{icon}", icon);
      // else {
      //   return getChildren(value, false).then(function (children) {
      //     if ( value.treeChildrens > 0 ) {
      //       expand = "<a href='#' class='expand glyphicon glyphicon-chevron-right'></a>";
      //     }
      //   });
      // }
      // return rowTmpl.replace("{icon}", icon).replace("{expand}", expand);
    });
  }

  function getChildren(parent, refresh, mode) {
    if (parent.allChildren && !refresh) {
      return Promise.resolve(parent.allChildren);
    }
    var childrenUris = [];
    if (parent.hasValue('rdf:type','v-s:Appointment')) {
      return Promise.resolve([]);
    }
    loadIndicator.show();
    var parentUri = parent.id;

    var selectPart = "SELECT id ";
    var wherePart = "WHERE v_s_parentUnit_str=['" + parentUri + "'] AND v_s_deleted_int=[0] group by id having sum(sign) > 0";
    var queryDepartments = selectPart + "FROM veda_tt.`v-s:Department` " + wherePart;
    var queryAppointment = selectPart + "FROM veda_tt.`v-s:Appointment` " + "WHERE v_s_parentUnit_str=['" + parentUri + "'] AND v_s_deleted_int=[0] group by id having sum(sign) > 0 AND v_s_official_int=[1]";
    if (mode == "notAppointment") {
      queryAppointment = null;
    };
    
    var queryStringArray = [];
    if (parent.hasValue('rdf:type', 'v-s:Department')) {
      queryStringArray = [queryDepartments, queryAppointment];
    } else if (parent.hasValue('rdf:type', 'v-s:OrgGroup')) {
      queryStringArray = [queryAppointment];
    } else if (parent.hasValue('rdf:type', 'v-s:Organization')) {
      var queryOrgGroup = selectPart + "FROM veda_tt.`v-s:OrgGroup` " + wherePart;
      var querySubsidiary = selectPart + "FROM veda_tt.`v-s:Subsidiary` WHERE v_s_parent_str=['" + parentUri + "'] AND v_s_deleted_int=[0] group by id having sum(sign) > 0";
      queryStringArray = [querySubsidiary, queryDepartments, queryOrgGroup, queryAppointment];
    }

    var sort = "'rdfs:label_ru' asc";
    var queries = queryStringArray.map(function (queryString) {
      if (queryString == null) return Promise.resolve({result:[]});
      return veda.Backend.query(
        {
          ticket: veda.ticket, 
          sql: queryString, 
          sort: sort,
          from: 0,
          limit: 10000,
          top: 100
        }
      );
    });
    return Promise.all(queries).then(function (queryResults) {
      parent.treeChildrens = 0;
      queryResults.forEach(function (queryResult, i) {
        if (i+1 != queryResults.length) parent.treeChildrens+=queryResult.count;
        childrenUris = childrenUris.concat(queryResult.result);
      });
      childrenUris = veda.Util.unique(childrenUris);
      parent.allChildren = childrenUris;
      loadIndicator.hide();
      return childrenUris;
    });
  }

  function drawChildren(parentUri, rootElement) {
    var childrenContainer = rootElement.children(".children");
    if (childrenContainer.length) {
      childrenContainer.removeClass("hidden");
      return Promise.resolve(childrenContainer.length);
    } else {
      rootElement.append("<div class='children'></div>");
      loadIndicator.show();
      return getChildren(new veda.IndividualModel(parentUri), true).then(function (childrenUris) {
        var promises = childrenUris.map(function(childUri) {
          var child = new veda.IndividualModel(childUri);
          return getRowTemplate(child).then(function (tmpl) {
            if (tmpl == null) {
              return Promise.resolve();
            }
            return child.present(rootElement.children(".children"), tmpl);
          });
        })
        return Promise.all(promises);
      }).then(function(result) {
        loadIndicator.hide();
        return result.length;
      });
    };
  }

  function openFromStructure(targetUri) {
    var targetToCards;
    var isInRoot = false;
    var targetIndivid = new veda.IndividualModel(targetUri);
    return getParentUnitChain(targetIndivid).then(function(chain) {
      var rootOrg;
      if (chain.length == 0) {
        //isInRoot = true;
        rootOrg = targetIndivid;
      } else {
        rootOrg = chain.pop();
        chain.unshift(targetIndivid);
      }
      targetToCards = targetIndivid;
      return initialStructure(rootOrg).then(function(tmpl) {
        return chain.reduceRight(function(pr, cur) {
          return pr.then(function(){
            var row = $("div.value-row[resource='"+cur.id+"']", tmpl);
            return openRow(row);
          });
        }, Promise.resolve());
      });
    }).then(function() {
      var targetRow = $("div.value-row[resource='"+targetUri+"'] > .item", template);
      targetRow.addClass("warning");
      return isInRoot? true : drawCards(new veda.IndividualModel(targetUri));
    }).then(function(){
      var position = orgContent.offset().top;
      if (position > 0) {
        $("html, body").animate({
          scrollTop: position
        });
      };
      individual.targetToCards = targetUri;
    });
  }

  function getParentUnitChain(target, acc) {
    if (acc == undefined) acc = [];
    return target.load().then(function(){
      if (target.hasValue("v-s:parentUnit")) {
        var parentUnit = target["v-s:parentUnit"][0];
        acc.push(parentUnit);
        return getParentUnitChain(parentUnit, acc);
      } else {
        return acc;
      };
    });
  }
  var searchTextBundle = new veda.IndividualModel("v-s:SearchTextBundle").load().then(function(bundle) {
    $("#searchText input", template).attr("placeholder", bundle["rdfs:label"].map(veda.Util.formatValue).join(" "));
  });

  $("#searchButton", template).click(function(){
    var searchText = $("#searchText input", template).val();
    if (!searchText) return;
    searchText = searchText.trim();
    setSearchHelperObjToDefault();
    loadIndicator.show();

    var isPhoneSearch = false;
    var isEmailSearch = false;

    var queryString;
    var resultOrg = $("#resultOrg", template).hide();
    $("tbody", resultOrg).empty();
    var resultDep = $("#resultDep", template).hide();
    $("tbody", resultDep).empty();
    var resultApp = $("#resultApp", template).hide();
    $("tbody", resultApp).empty();
    var resultPos = $("#resultPos", template).hide();
    $("tbody", resultPos).empty();

    var searchPromise = [];    
    var queryStringArr = genQueryStringArray(searchText, findDeleted, searchOrgMode == "targetOrg");
    searchPromise.push(queryStringArr[0] == null ? Promise.resolve([]) : searchAndLoad("org", queryStringArr[0], 0));
    searchPromise.push(searchAndLoad("dep", queryStringArr[1], 0));
    searchPromise.push(searchAndLoad("app", queryStringArr[2], 0));
    searchPromise.push(searchAndLoad("pos", queryStringArr[3], 0));

    orgTree.empty();
    //$("tbody", orgContent).empty();
    orgContent.hide();
    return Promise.all(searchPromise).then(function (results) {
      var finded = results.reduce(function(acc, cur) {
        return acc + cur.length;
      }, 0);
      if (finded == 0) {
        $(".not-found", template).removeClass("hidden");
      } else {
        $(".not-found", template).addClass("hidden");
      }
      var presentPromises = [];
      var orgObj = results[0];
      var depObj = results[1];
      var appObj = results[2];
      var posObj = results[3];
      if (orgObj.length > 0) resultOrg.show();
      if (depObj.length > 0) resultDep.show();
      if (appObj.length > 0) resultApp.show();
      if (posObj.length > 0) resultPos.show();
      presentPromises.push(presentSearchResult("org", resultOrg, orgObj));
      presentPromises.push(presentSearchResult("dep", resultDep, depObj));
      presentPromises.push(presentSearchResult("app", resultApp, appObj));
      presentPromises.push(presentSearchResult("pos", resultPos, posObj));
      return Promise.all(presentPromises);
    }).then(function(){
      console.log("searchHelperObj: ", searchHelperObj);
      loadIndicator.hide();
      return true;
    });
  });
  
  function genQueryStringArray(searchText, findDeleted, findInParentOrg) {
    var selectPart = "SELECT target.id";
    var groupPart = " GROUP BY target.id HAVING sum(target.sign) > 0";
    var basicWherePart = findDeleted? " WHERE target.v_s_deleted_int=[1]" : " WHERE target.v_s_deleted_int=[0]";
    if (findInParentOrg) {
      basicWherePart+= " AND target.v_s_parentOrganization_str=['" + individual['v-s:managedOrganization'][0].id + "']"
    }
    var organizationQuery = selectPart + " FROM veda_tt.`v-s:Organization` AS target";
    var departmentQuery = selectPart + " FROM veda_tt.`v-s:Department` AS target";
    var appointmentQuery = selectPart + " FROM veda_tt.`v-s:Appointment` as target INNER JOIN veda_tt.`v-s:Person` as per ON target.v_s_employee_str[1] = per.id";
    var specialPositionQuery = selectPart + " FROM veda_tt.`v-s:Position` AS target";

    var isCommMeanJoinAdded = false;
    // var isPhoneChannelAdded = false;
    // var isEmailChannelAdded = false;
    var queryParts = searchText.split(' ').reduce(function(qParts, sText) {
      sText = sText.toLowerCase();
      var specialWherePart = "";

      var isPhoneSearch = sText.match("^"+String.fromCharCode(92)+"+?["+String.fromCharCode(92)+"d-"+String.fromCharCode(92)+"s]*$") != null;
      var isEmailSearch = sText.match("^.*@{1}") != null;
      if (isPhoneSearch || isEmailSearch) {
        if (!isCommMeanJoinAdded) {
          isCommMeanJoinAdded = true;
          organizationQuery += " INNER JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [target.id]";
          departmentQuery += " INNER JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [target.id]";
          appointmentQuery += " INNER JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [per.id]";
          specialPositionQuery += " INNER JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [target.id]";
          // organizationQuery += " LEFT JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [target.id]";
          // departmentQuery += " LEFT JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [target.id]";
          // appointmentQuery += " LEFT JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [per.id]";
          // specialPositionQuery += " LEFT JOIN veda_tt.`v-s:CommunicationMean` as cm ON cm.v_s_backwardTarget_str = [target.id]";
        };
        // if (isPhoneSearch && !isPhoneChannelAdded) {
        //   basicWherePart += " AND (cm.v_s_hasCommunicationMeanChannel_str[1] in ('d:fpxx0hw2gyea8z1dcjc6mxtlg2','d:zhercrddg5yotsbbzr33cfoqfc','d:o3q2gagyvfwh430io88vvb8vel','d:m4vg7pkvcvke9e6loqtb937jhy'))";
        // } 
        // if (isEmailSearch && !isEmailChannelAdded) {
        //   basicWherePart += " AND cm.v_s_hasCommunicationMeanChannel_str[1] = 'd:a1iwni0b54fvcz41vuts08bxqsh'";
        // }
        qParts = qParts.map(function(part) {
          return part + " AND (lowerUTF8(cm.v_s_description_str[1]) LIKE '%" + sText + "%' OR lowerUTF8(cm.rdfs_comment_str[1]) LIKE '%" + sText + "%')";
        })
      } else {
        qParts[0] += " AND lowerUTF8(arrayStringConcat(arrayConcat(rdfs_label_str,v_s_title_str, v_s_shortLabel_str), ' ')) LIKE '%"+sText+"%'";
        qParts[1] += " AND lowerUTF8(arrayStringConcat(arrayConcat(rdfs_label_str,v_s_title_str, v_s_shortLabel_str), ' ')) LIKE '%"+sText+"%'";
        qParts[2] += " AND lowerUTF8(arrayStringConcat(arrayConcat(target.rdfs_label_str,per.v_s_middleName_str), ' ')) LIKE '%"+sText+"%'";
        qParts[3] += " AND lowerUTF8(arrayStringConcat(rdfs_label_str, ' ')) LIKE '%"+sText+"%'";
      };
      return qParts;
    }, ["", "", "", ""]);
    organizationQuery = findInParentOrg? null : organizationQuery+basicWherePart+queryParts[0] + " AND v_s_hasCommunicationMean_str[1]!=''" + groupPart;
    departmentQuery += basicWherePart + queryParts[1] + groupPart;
    appointmentQuery += basicWherePart + queryParts[2] + " AND target.v_s_official_int=[1]" + groupPart;
    specialPositionQuery += basicWherePart + queryParts[3] + " AND target.v_s_origin_str=['noname']" + groupPart;
    return [organizationQuery, departmentQuery, appointmentQuery, specialPositionQuery];
  }

  function presentSearchResult(objType, container, items) {
    var promises = items.map(function(item) {
      return item.present($("<div></div>"), "v-s_ContactCardTemplate.html");
    });
    return Promise.all(promises).then(function(templates){
      templates.forEach(function(tmpl) {
        if (isContactManager) $(".zoom.hidden", tmpl).removeClass("hidden");
        $("tbody", container).append(tmpl);
      });
      $("span.badge:nth-child(4)", container).text(searchHelperObj[objType].estimated);
      $("span.badge:nth-child(2)", container).text(searchHelperObj[objType].handlered);
      if ($("tbody tr", container).length < searchHelperObj[objType].estimated) {
        $("tfoot", container).removeClass("hidden");
      } else {
        $("tfoot", container).addClass("hidden");
      };
    });
  }

  var searchHelperObj = {};

  function setSearchHelperObjToDefault(){
    searchHelperObj = {
      org:{
        handlered: 0
      },
      dep:{
        handlered: 0
      },
      app:{
        handlered: 0
      },
      phone:{
        handlered: 0
      },
      email:{
        handlered: 0
      },
      pos:{
        handlered: 0
      }
    };
  }

  function searchAndLoad(objType, queryString, from){
    var sort;
    if (objType == "app") {
      sort = "'rdfs:label_ru' asc";
    } else {
      sort = "'rdfs:label' asc";
    }
    var top = userDisplayedElements;
    if (!top) top = 10;
    //TODO если в консоли не появляется то удалить
    if (objType == "phone" || objType == "email") console.log("This is search ", objType);
    var searchObj = {
      ticket: veda.ticket,
      sql: queryString,
      sort: sort,
      from: from,
      top: top,
      limit: 200,
      async: true
    };
    searchHelperObj[objType].query = queryString;
    return veda.Backend.query(searchObj).then(function(searchResult) {
      searchHelperObj[objType].estimated = searchResult.estimated;
      searchHelperObj[objType].handlered = searchHelperObj[objType].handlered + searchResult.count;
      var loadPromises = [];
      loadPromises = searchResult.result.map(function(uri) {
        return new veda.IndividualModel(uri).load();
      });
      return Promise.all(loadPromises);
    }).catch(function(err) {
      console.log(err);
      return [];
    });
  }

  function openRow(row) {
    var uri = row.attr('resource');
    return drawChildren(uri, row).then(function(childrenCount) {
      var chevron = row.children(".item").find("a");
      if (childrenCount == 0) {
        chevron.removeClass("glyphicon-chevron-right");
      } else {
        chevron.toggleClass("expanded glyphicon-chevron-right glyphicon-chevron-down");
      }
      return true;
    });
  }

  function initPopover(target) {
    var uri = target.closest("[resource]").attr("resource");
    var tmpl = "<div><a tabindex='0' role='button' class='to-structure' about='@' property='rdfs:label'/></div>";
    return getParentUnitChain(new veda.IndividualModel(uri)).then(function(chain) {
      var presentPromises = chain.map(function(parent) {
        return parent.present($("<div></div>"), tmpl);
      });
      if (presentPromises.length == 0) {
        presentPromises.push(new veda.IndividualModel(uri).present($("<div></div>"), tmpl));
      };
      return Promise.all(presentPromises);
    }).then(function(templates){
      var cntr = templates.reduceRight(function(acc, curTmpl, i){
        curTmpl.css("margin-left", 20*(templates.length-(i+1)));
        return acc.append(curTmpl);
      }, $("<div><span class='close'>&nbsp;&times;</span></div>"));
      return cntr;
    });
  }

  template.on("click", "span.open-structure", function(e) {
    e.stopPropagation();
    e.preventDefault();
    var self = $(this);
    if (self.data("popovered") == undefined) {
      initPopover($(this)).then(function(content) {
        self.popover({
          trigger: "manual",
          placement: "auto left",
          html: true,
          content: content
        }).popover("show");
        self.data("popovered", true);
        content.on("click", ".close", function (e) {
          e.stopPropagation();
          self.popover("hide");
          self.data("popovered", false);
        });
      });
    } else if (self.data("popovered") == true) {
      self.popover("hide");
      self.data("popovered", false);
    } else {
      self.popover("show");
      self.data("popovered", true);
    };
    //return openFromStructure(uri);
  })

  template.on("click", "a.to-structure", function(e){
    e.stopPropagation();
    e.preventDefault();
    var uri = $(this).attr("about");
    return openFromStructure(uri);
  })
  template.on("click", "a.expand.glyphicon-chevron-right", function (e) {
    e.stopPropagation();
    e.preventDefault();
    var row = $(this).closest('div.value-row');
    return openRow(row);
  });

  template.on("click", "a.expanded.glyphicon-chevron-down", function (e) {
    e.stopPropagation();
    e.preventDefault();
    var self = $(this);
    self.toggleClass("expanded glyphicon-chevron-right glyphicon-chevron-down");
    var row = self.closest("div.value-row");
    row.children("div.children").addClass("hidden");
    return false;
  });

  template.on("click", "div.value-row", function (e) {
    e.stopPropagation();
    e.preventDefault();
    var self = $(this);

    var item = self.children('.item');
    if (!item.hasClass('warning')) {
      $('.item.warning', template).removeClass('warning');
      item.addClass('warning');
    }
    var uri = self.attr("resource");
    return drawCards(new veda.IndividualModel(uri));
  });

  template.on("dblclick", "#orgContent tbody tr" , function(e) {
    var uri = $(this).attr("resource");
    if (uri == undefined) {
      console.log("Unexpected behavior: empty attr[resource]");
      return false;
    }
    return  new veda.IndividualModel(uri).load().then(function(loaded) {
      if (!loaded.hasValue("rdf:type", "v-s:Department")) {
        return false;
      }
      return Promise.resolve().then(function(){
        var rowInTree = $("#orgTree .children:not(.hidden)>div.value-row[resource='"+uri+"']", template);
        if (rowInTree.length == 0) {
          var parent = $("#orgTree div.item.warning", template).parent();
          return openRow(parent).then(function(){
            return $("div.value-row[resource='"+uri+"']", parent);
          });
        }
        return rowInTree;
      }).then(function(row) {
        row.click();
        return true;
      })
    })
  });

  template.on("click", "tfoot .more-results", function (e) {
    var self = $(this);
    var type = self.data("search-type");
    var query = searchHelperObj[type].query;
    var from = searchHelperObj[type].handlered;
    return searchAndLoad(type, query, from).then(function(result) {
      var container = self.closest("table");
      return presentSearchResult(type, container, result);
    });
  });

  template.on("click", "a.glyphicon-zoom-in", function (e) {
    e.stopPropagation();
    e.preventDefault();
    var self = $(this);
    var row = self.closest("tr");
    var uri = row.attr("resource");
    var obj = new veda.IndividualModel(uri);
    var tmpl;
    if (obj.hasValue("rdf:type", "v-s:Appointment")) {
      obj = obj["v-s:employee"][0];
      tmpl = undefined;
    } else if (obj.hasValue("rdf:type", "v-s:Department")) {
      tmpl = "v-s_DepartmentTemplate.html";
    } else if (obj.hasValue("rdf:type", "v-s:Organization")) {
      tmpl = undefined;
    }
    //riot.route( ["#", obj.id, "#main", tmpl].join("/") );
    veda.Util.showModal(obj, tmpl);
    return false;
  });

  // Ctrl + Enter triggers search
  function ctrlEnterHandler (e) {
    if (e.ctrlKey && e.keyCode === 13) {
      $("#searchButton", template).click();
    }
  }
  $(window).on("keyup", ctrlEnterHandler);
  template.one("remove", function () {
    $(window).off("keyup", ctrlEnterHandler);
  });

  function dropResultTables() {
    var resultOrg = $("#resultOrg", template).hide();
    $("tbody", resultOrg).empty();
    var resultDep = $("#resultDep", template).hide();
    $("tbody", resultDep).empty();
    var resultApp = $("#resultApp", template).hide();
    $("tbody", resultApp).empty();
  }

  individual.on("v-s:managedOrganization", function(){
    //$('#searchText input', template).val('');
    searchOrgMode = individual.hasValue("v-s:managedOrganization")? "targetOrg" : "allOrg";
    dropResultTables();
    initialStructure().then(function(result) {
      if (result == false) return;
      return drawCards(individual["v-s:managedOrganization"][0]);
    });
  });

  template.one("remove", function(){
    individual.off("v-s:managedOrganization");
  });

  $("#resetButton", template).click(function () {
    $("#searchText input", template).val("");
    individual["v-s:managedOrganization"] = [];
  });

  if (individual.targetToCards) {
    return openFromStructure(individual.targetToCards);
  } else {
    return initialStructure().then(function(result) {
      if (result == false) return;
      return drawCards(individual["v-s:managedOrganization"][0]);
    });
  }

  //# sourceURL=v-s_ContactsStructureTemplate.html_post
</script>