<div class="container sheet">
  <h2>
    <span about="v-s:CurrencyExchangeRate" property="rdfs:label"></span>
    <small about="@" property="rdfs:label"></small>
  </h2>
  <hr class="margin-sm">
  <div class="row text-center">
    <div class="col-md-2">
      <em about="v-s:hasCurrency" property="rdfs:label"></em>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <em about="v-s:hasCurrency" property="rdfs:label"></em>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <em about="v-s:rate" property="rdfs:label"></em>
    </div>
    <div class="col-md-2">
      <em about="v-s:date" property="rdfs:label"></em>
    </div>
    <div class="col-md-2">
      <em about="v-s:hasCurrencyExchangeRatePurpose" property="rdfs:label"></em>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2">
      <div rel="v-s:hasCurrencySource" data-template="v-ui_LabelTemplate.html" class="view -edit -search"></div>
      <veda-control data-type="select" rel="v-s:hasCurrencySource" class="-view edit search"></veda-control>
    </div>
    <div class="col-md-1">
      <strong>/</strong>
    </div>
    <div class="col-md-2">
      <div rel="v-s:hasCurrencyTarget" data-template="v-ui_LabelTemplate.html" class="view -edit -search"></div>
      <veda-control data-type="select" rel="v-s:hasCurrencyTarget" class="-view edit search"></veda-control>
    </div>
    <div class="col-md-1">
      <strong>=</strong>
    </div>
    <div class="col-md-2">
      <div property="v-s:rate" class="view -edit search"></div>
      <veda-control data-type="decimal" property="v-s:rate" class="-view edit search"></veda-control>
    </div>
    <div class="col-md-2">
      <div property="v-s:date" class="view -edit search"></div>
      <veda-control data-type="date" property="v-s:date" class="-view edit search"></veda-control>
    </div>
    <div class="col-md-2">
      <div rel="v-s:hasCurrencyExchangeRatePurpose" data-template="v-ui_LabelTemplate.html" class="view -edit search"></div>
      <veda-control data-type="link" rel="v-s:hasCurrencyExchangeRatePurpose" class="-view edit search fulltext dropdown"></veda-control>
    </div>
  </div>
  <br>
  <!-- BUTTONS -->
  <div class="actions view edit -search">
    <span about="@" data-template="v-ui_StandardButtonsTemplate.html" data-embedded="true" data-buttons="edit save cancel"></span>
  </div>
</div>