<script>
  $("#refresh", template).on("click", refresh);

  function refresh() {
    template.parent().closest("[resource]").find("[resource]").addBack("[resource]").each(function () {
      var uri = $(this).attr("resource");
      var resource = new veda.IndividualModel(uri);
      resource.is("v-s:UserThing").then(function (isUserThing) {
        if (isUserThing) { resource.reset(); }
      });
    });
  }

  var toRefresh;

  function statusHandler(status) {
    if ( status === "online" || status === "offline" ) {
      toRefresh = false;
      $("#refresh", template).addClass("hidden");
    } else if ( status === "limited" ) {
      toRefresh = true;
      $("#refresh", template).removeClass("hidden");
    }
  }
  veda.on("status", statusHandler);
  template.one("remove", function () {
    veda.off("status", statusHandler);
  });

  // var allButtons = "send edit save cancel delete destroy journal task rights";
  var defaultButtons = "send edit save cancel delete journal task";
  individual.rights.then(function (rights) {
    var canUpdate = rights.hasValue("v-s:canUpdate", true);
    var canDelete = rights.hasValue("v-s:canDelete", true);
    var enabledButtons = (container.data("buttons") || defaultButtons).trim().split(/\s+/g);
    enabledButtons.forEach(function (id) {
      if ( !canUpdate && (id === "save" || id === "edit" || id === "cancel") ) { return; }
      if ( !canDelete && (id === "delete" || id === "destroy") ) { return; }
      $("#" + id, template).removeClass("rm hidden");
    });
    $(".rm", template).remove();
  });

  template.on("click", "#edit, #save, #cancel, #delete, #destroy", function (e) {
    e.preventDefault();
    var action = this.id;
    if (action === "destroy") {
      var warning = new veda.IndividualModel("v-s:AreYouSure");
      warning.load().then(function (warning) {
        if ( confirm( warning["rdfs:label"].map(veda.Util.formatValue).join(" ") ) ) {
          template.parent().closest("[resource]").trigger(action);
        }
      });
    }
    else if(action === "delete"){
      var queryString = "'rdf:type'==='v-wf:DecisionForm' && 'v-wf:onDocument'=='" + individual.id + "' && 'v-wf:isCompleted'==false";
      veda.Backend.query(veda.ticket, queryString).then(function (queryResult) {
        var tmp = queryResult.result;
        if (tmp.length == 0) {
          var warning = new veda.IndividualModel("v-s:AreYouSure");
          warning.load().then(function (warning) {
            if ( confirm( warning["rdfs:label"].map(veda.Util.formatValue).join(" ") ) ) {
              template.parent().closest("[resource]").trigger(action);
            }
          });
        }
        else {
          alert("Документ не может быть удален, так как по нему есть незакрытые задачи. Закройте все задачи и попробуйте ещё раз");
        }
      });
    }
    else {
      template.parent().closest("[resource]").trigger(action);
    }
  });
  $("#cancel", template).on("click", function () {
    template.closest(".modal").modal("hide").remove();
  });
  $("#journal", template).on("click", function (e) {
    e.preventDefault();
    var journal_uri = individual.id + "j",
        journal = new veda.IndividualModel(journal_uri);
    journal.load().then(function (journal) {
      if ( !journal.isNew() ) {
        riot.route("#/" + journal_uri);
      } else {
        var journalEmpty = new veda.IndividualModel("v-s:JournalEmpty").load().then(function (journalEmpty) {
          alert(journalEmpty.toString());
        });
      }
    });
  });
  $("#send", template).on("click", function (e) {
    veda.Util.send(individual, template.parent().closest("[resource]"));
  });
  $("#edit", template).on("click", function (e) {
    if (toRefresh) {
      refresh();
    }
  });
  $("#rights", template).on("click", function () {
    veda.Util.showRights(individual);
  });

  // Standard tasks
  template.on("click", "ul#standard-tasks a", function (e) {
    e.preventDefault();
    var startFormTransform = $(this).attr("about");
    veda.Util.send(individual, template, startFormTransform, true);
  });

  //# sourceURL=v-ui_StandardButtonsTemplate.html_pre
</script>
<span>
  <button type="refresh" class="btn btn-success view -edit -search hidden" id="refresh"><span class="glyphicon glyphicon-refresh"></span></button>
  <button type="submit" class="rm hidden action btn btn-warning allButtons view edit -search" id="send" about="v-s:Send" property="rdfs:label"></button>
  <button type="button" class="rm hidden action btn btn-primary allButtons view -edit -search" id="edit"><span about="v-s:Edit" property="rdfs:label"></span></button>
  <button type="submit" class="rm hidden action btn btn-success allButtons -view edit -search" id="save" about="v-s:Save" property="rdfs:label"></button>
  <button type="button" class="rm hidden action btn btn-default allButtons -view edit -search" id="cancel"><span about="v-s:Cancel" property="rdfs:label"></span></button>
  <button type="button" class="rm hidden action btn btn-link allButtons view -edit -search" id="delete" about="v-s:Delete" property="rdfs:label"></button>
  <button type="button" class="rm hidden action btn btn-danger allButtons view edit -search" id="destroy" about="v-s:Destroy" property="rdfs:label"></button>
  <button type="button" class="rm hidden action btn btn-default allButtons view -edit -search" id="journal" about="v-s:ViewJournal" property="rdfs:label"></button>
  <button type="button" class="rm hidden action btn btn-default allButtons view -edit -search" id="rights" about="v-s:Rights" property="rdfs:label"></button>
  <div class="rm hidden action btn-group dropup allButtons view -edit -search" id="task">
    <button class="action btn btn-warning btn-block dropdown-toggle" id="task-button" data-toggle="dropdown">
      <span about="v-s:SendTask" property="rdfs:label"> </span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="standard-tasks">
      <li><a href="#" about="v-wf:questionRouteStartForm" property="rdfs:label"></a></li>
      <li><a href="#" about="v-wf:instructionRouteStartForm" property="rdfs:label"></a></li>
      <li><a href="#" about="v-wf:taskRouteStartForm" property="rdfs:label"></a></li>
      <li><a href="#" about="v-wf:coordinationRouteStartForm" property="rdfs:label"></a></li>
      <li><a href="#" about="v-wf:signRouteStartForm" property="rdfs:label"></a></li>
      <li><a href="#" about="v-wf:confirmationRouteStartForm" property="rdfs:label"></a></li>
      <li class="divider"></li>
      <li><a href="#" about="v-wf:distributionRouteStartForm" property="rdfs:label"></a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-link view edit -search action toggle-actions hidden">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </button>
</span>
<script>
  function hiddenButtonsForDeleted(){
    if(individual.hasValue("v-s:deleted",true) && veda.appointment.id !== "cfg:AdministratorAppointment"){
       $(".allButtons", template).addClass("hidden");
    }
    else {$(".allButtons", template).removeClass("hidden");}
  }
  hiddenButtonsForDeleted();
  individual.on("v-s:deleted", hiddenButtonsForDeleted);
  template.one("remove", function () {
    individual.off("v-s:deleted", hiddenButtonsForDeleted);
  });





  $(".toggle-actions", template).click(function () {
    template.closest(".actions").children(":not(.toggle-actions)").toggleClass("hidden");
    var button = $(this);
    button.find(".glyphicon").toggleClass("glyphicon-chevron-left glyphicon-chevron-right");
    button.find(".description").toggleClass("hidden");
    button.toggleClass("btn-link btn-info");
  });

  // Make position fixed for buttons bar that doesn't fit the window
  function checkOffset(main, actions, actionsStaticHeight, placeholder) {
    var mainTop = main.offset().top;
    var mainHeight = main.height();
    var windowHeight = window.innerHeight;
    var windowTop = window.scrollY || window.pageYOffset;
    var actionsStaticTop = placeholder.offset().top;
    var actions_inside_viewport = windowTop <= actionsStaticTop && actionsStaticTop < (windowTop + windowHeight);
    var main_inside_viewport = windowTop <= (mainTop + mainHeight - actionsStaticHeight) && (mainTop + actionsStaticHeight) < (windowTop + windowHeight);
    if ( !actions_inside_viewport && main_inside_viewport ) {
      if ( !actions.hasClass("actions-fixed") ) {
        placeholder.css("height", actionsStaticHeight);
        actions.addClass("actions-fixed");
      }
    } else {
      if ( actions.hasClass("actions-fixed") ) {
        placeholder.css("height", 0);
        actions.removeClass("actions-fixed");
      }
    }
  }
  setTimeout(function () {
    var main = template.parent().closest("[resource]");
    if (!main.length) { return; }
    var actions = template.closest(".actions");
    if (!actions.length) { return; }
    var actionsStaticHeight = actions.height();
    var placeholder = $("<div></div>").insertBefore(actions);
    checkOffset(main, actions, actionsStaticHeight, placeholder);
    $(window).on("scroll", scrollHandler);
    template.one("remove", function () {
      $(window).off("scroll", scrollHandler);
    });
    $(".toggle-actions", template).detach().appendTo(actions).removeClass("hidden");
    function scrollHandler () {
      checkOffset(main, actions, actionsStaticHeight, placeholder);
    }
  }, 500);

  // Respect validation state of parent template
  var closest = template.parent().closest("[resource]");
  closest.on("internal-validated", function (e, validation) {
    if (validation.state) {
      $(".action#save", template).removeAttr("disabled");
      $(".action#send", template).removeAttr("disabled");
      $(".action#task-button", template).removeAttr("disabled");
    } else {
      $(".action#save", template).attr("disabled", "disabled");
      $(".action#send", template).attr("disabled", "disabled");
      $(".action#task-button", template).attr("disabled", "disabled");
    }
    e.stopPropagation();
  });
  //# sourceURL=v-ui_StandardButtonsTemplate.html_post
</script>
