<div class="container sheet">
  <pre style="border:none;background-color:#fff;"></pre>
  <div class="actions pull-left">
    <span about="@" data-template="v-ui_StandardButtonsTemplate.html" data-embedded="true" data-buttons="delete destroy journal task rights"></span>
  </div>
  <div class="pull-right">
    <a id="default" class="btn btn-info" href="#/@" about="v-s:Default" property="rdfs:label"></a>
    <a id="generic" class="btn btn-default" href="#/@//v-ui_generic.html">generic</a>
    <a id="json" class="btn btn-default" href="#/@//v-ui_json.html">json</a>
    <a id="ttl" class="disabled btn btn-default" href="#/@//v-ui_ttl.html">ttl</a>
  </div>
</div>
<script>
  individual.on('afterReset', render);
  template.one('remove', function () {
    individual.off('afterReset', render);
  });
  render();

  function render () {
    var list = [individual];
    veda.Util.toTTL(list, function (error, ttl) {
      var pre = $("pre", template),
          sanitized = sanitize(ttl),
          anchored = sanitized.replace(/([a-zA-Z][\w-]*:[\w-]*)(\,|\s|\;|\.)/gi, "<a class='text-black' href='#/$1//v-ui_ttl.html'>$1</a>$2");
      pre.html(anchored);
    });
  }

  function sanitize(string) {
    var map = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#x27;',
        "/": '&#x2F;',
    };
    var reg = /[&<>"'/]/ig;
    return string.replace(reg, function (match) { return map[match]; });
  }

  //# sourceURL=v-ui_ttl.html
</script>
