<div>
  <h3 about="v-s:VersionsBundle" property="rdfs:label"></h3>
  <div class="panel panel-default">
    <table class="table table-condensed">
      <thead>
        <tr class="active">
          <th width="1%">#</th>
          <th about="rdfs:label" property="rdfs:label"></th>
          <th about="v-s:created" property="rdfs:label"></th>
          <th about="v-s:creator" property="rdfs:label"></th>
        </tr>
      </thead>
      <tbody id="versions"></tbody>
      <tfoot>
        <tr>
          <td colspan="10" class="clearfix">
            <button class="pull-left btn btn-xs btn-primary glyphicon glyphicon-chevron-down"></button>
            <div class="pull-right">
              <span class="bg-info" style="padding:0px 5px;display: inline-block">Актуальная версия</span>
              <strong>Текущая версия</strong>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script>
  var actual = individual.hasValue("v-s:actualVersion") ? individual["v-s:actualVersion"][0] : individual;
  var tmpl = ''
    + '<tr>'
      + '<td>#</td>'
      + '<td about="@" data-template="v-ui_LabelLinkTemplate.html" class="view edit -search"></td>'
      + '<td about="@" property="v-s:created" class="view edit -search"></td>'
      + '<td about="@" rel="v-s:creator" data-template="v-ui_LabelTemplate.html" class="view edit -search"></td>'
    + '</tr>';
  var tbody = $("#versions", template);
  var btn = $("button", template).click(function () {
    tbody.empty();
    renderVersion(actual, 1, -1);
  });
  renderVersion(actual, 1, 5);

  individual.on("v-s:previousVersion", versionHandler);
  template.one("remove", function () {
    individual.off("v-s:previousVersion", versionHandler);
  });
  function versionHandler() {
    tbody.empty();
    renderVersion(actual, 1, 5);
  }

  function renderVersion(current, counter, limit) {
    if (!current) { return btn.remove(); }
    if (!limit) { return; }
    return current.load().then(function (current) {
      var previous = current["v-s:previousVersion"][0];
      var row = tmpl.replace("#", counter);
      if (current.id === actual.id) { row = row.replace("<tr>", "<tr class='info'>"); }
      if (current.id === individual.id) { row = row.replace(/td/g, "th").replace("v-ui_LabelLinkTemplate.html", "v-ui_LabelTemplate.html"); }
      return current.present(tbody, row).then(function () {
        renderVersion(previous, ++counter, --limit);
      });
    });
  }
  //# sourceURL=v-ui_VersionedTemplate.html
</script>
