(
    data: {
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-registries.ttl": "65CBD1D15C86AD71A5F701E2745233D7",
        "/repo/veda/ontology/generic-application/contract/veda-contract-schema.ttl": "E82D33AB48551732AD0D53509F2C65B6",
        "/repo/veda/ontology/generic-application/contract/veda-contract-rights.ttl": "57D8306737836CEFC93E7ACF603667D7",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-ui.ttl": "A9E027B7A58E4E4D152CF5FFAE86A7B1",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-reports.ttl": "A6BA371CFA20D4707D7A83EF489E7327",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-rights.ttl": "36EA1D56F414EC08B2C5190EFE90829A",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-ui.ttl": "6D1147A8FDD157BB660215551A776FC4",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-rights.ttl": "F25EDA701E120A654DB56D97233BC5A9",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-ui.ttl": "A5B6CCD6C72F8C6D3A1EAC0C9561A371",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-schema.ttl": "B8EDBE0C51B8CAFF42DBE2098F3CF9C0",
        "/repo/veda/ontology/system-core/xsd.ttl": "D2E346B5DBF3BCD378451878EF2A1D35",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-registries.ttl": "A8C23B2CBD05208B9F41ABFBBFFEF3B4",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-registries.ttl": "E4CDA4E484F90181670E1BEA714E7EF0",
        "/repo/veda/ontology/generic-function/veda-numeration.ttl": "0FB607EA5E8E925B99FC79B58DD09BCF",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-blanks.ttl": "9D8EBAD61456507EC4A83BA4E63770DE",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-registries.ttl": "B2E3C89C000418FEA98196C19CDFE42B",
        "/repo/veda/ontology/generic-application/asset/veda-asset-registries.ttl": "06511BFA5C4882AF9DBDC3E3A3584677",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-schema.ttl": "CBD7C2EA7214DDF17C1454491C1CA6BD",
        "/repo/veda/ontology/system-core/owl.ttl": "BB6C9D76A13A087CBDF40293C166CF27",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-registries.ttl": "66DBB2D0A1074BB4E13DDA3F7734B75B",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-rights.ttl": "9D3BE8695629E6667306AE58109A47AA",
        "/repo/veda/ontology/generic-application/certificationDocument/individuals/veda-individual-CertificationDocumentType.ttl": "2BFFC96EDC06949585145D79B92BD125",
        "/repo/veda/ontology/generic-function/veda-bug-report.ttl": "F2E217E4CADCFDA04AB839E33EBEAA67",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-index.ttl": "1F9E5842598ADE119B6800A568C9E884",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-ui.ttl": "F9674E9907DAFE2A69EBAE20416CA171",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-startForm.ttl": "59E7BD2C4575EFB6DF13E7C79893FE7A",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-schema.ttl": "327D031B5EF29F5277BF291184E9BBFE",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-reports.ttl": "909BF930B84FBB038A7C0A2D17A74639",
        "/repo/veda/ontology/generic-application/audit/veda-audit-schema.ttl": "4831F960D5FAC991A6C61752990E3392",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-reports.ttl": "53EC4E8948035E9EC4FADD06B3791DF5",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-rights.ttl": "42D095738A51624AF09701C1412AA716",
        "/repo/veda/ontology/generic-function/veda-function-group-auth.ttl": "D647197DC2ECDEDAC8609083E3AB794E",
        "/repo/veda/ontology/generic-application/asset/veda-asset-blanks.ttl": "8587A4733F4B5385266F9085DCE7B10B",
        "/repo/veda/ontology/generic-function/veda-function-create.ttl": "4220148793E864AD2E3151B57067C12A",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-blanks.ttl": "C58107D5A0EF2C467D9642A8A76FDA30",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-reports.ttl": "292907D721E5A826B7AB2C5336901B5E",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-reports.ttl": "F5DF2117A3CF204348BAF04D16AF28FF",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-rights.ttl": "E87C90DE95EC055734D7D49723C5B4D6",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-ui.ttl": "82C384AFB6C124B00FB177120A646F44",
        "/repo/veda/ontology/generic-application/asset/veda-asset-ui.ttl": "FFD226BDDD7979FE98E6304472E569EF",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-schema.ttl": "13CF326173C5AFDAD0B50D024D18DF01",
        "/repo/veda/ontology/generic-application/decree/veda-decree-schema.ttl": "D85C992C9A6A71CC6AD45BE038DBAA71",
        "/repo/veda/ontology/generic-application/activity/veda-activity-schema.ttl": "25A96CC9480AF87548FDC3DA5A24730C",
        "/repo/veda/ontology/generic-application/communicationMean/veda-communicationMean-schema.ttl": "924C65B6A8DC3EE6E121D9328F39679D",
        "/repo/veda/ontology/generic-application/veda-schema-ContractManagment.ttl": "1536F21FF974909C0B42E1AEADF0391C",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-reports.ttl": "C2AF215D4BA36A27B74ED07EEEC9497B",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-startForm.ttl": "5F1B6CBC74DE19D0E1924F11CA57ED7E",
        "/repo/veda/ontology/generic-application/communicationMean/veda-communicationMean-ui.ttl": "803A1336C2328178E7137768B1C96B19",
        "/repo/veda/ontology/generic-application/certificationDocument/veda-certificationDocument-ui.ttl": "B623CCB7A6F7848C9ABBBB30C859102B",
        "/repo/veda/ontology/bpmn/veda-bpmn.ttl": "13FA92979010A32D2645E7F65A4344F3",
        "/repo/veda/ontology/generic-function/veda-workflow.ttl": "438ED56D1F05072AB0BB5F235F799F73",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-blanks.ttl": "6D4A0105747CB5789462AEB343D09BBF",
        "/repo/veda/ontology/generic-application/contract/veda-contract-blanks.ttl": "2170EA2589A23A5D94DBA8E50429728E",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-registries.ttl": "E2AB434DC5D2C9D4DE7E34F854660FDE",
        "/repo/veda/ontology/generic-function/veda-special.ttl": "4174ED42ABF7DF9BAAE61F3D604E48FE",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-ui.ttl": "F5E1274BF77EF69540196D2F90D7B386",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-registries.ttl": "E5A5BF4D6D3204AC6CF9BBC7DE13D664",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-schema.ttl": "20225C3534EDB12DAAF3F59DB11E2079",
        "/repo/veda/ontology/test-data.ttl": "C88A322B90FF8B2236140A15385D2D2D",
        "/repo/veda/ontology/generic-application/veda-application.ttl": "989CFF8B55B7DC85E4756616CBB182BC",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-index.ttl": "E0B3B60C7FF62F33CCDEC685C5F765DE",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-index.ttl": "71D27300998B833C1748536B38BD8337",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-rights.ttl": "C7797321E92FFC24F9013A355ABF9BC6",
        "/repo/veda/ontology/bpmn/veda-bpmn-ui.ttl": "408C47515BE63648406DB874A83EE0CF",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-schema.ttl": "D0D45AE081EFBE91E421B41958222419",
        "/repo/veda/ontology/abstract-dictionary/veda-abstract.ttl": "1DB807534AF659D6D3CF8C695DCF2F5D",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-search.ttl": "34396294553F1D9626E12990199B2B7D",
        "/repo/veda/ontology/generic-application/decree/veda-decree-reports.ttl": "FE24A2B8C657C452A4CF1E32550F2BDF",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-schema.ttl": "851FF958502EBD90A7F3E438B7F82192",
        "/repo/veda/ontology/generic-application/decree/veda-decree-ui.ttl": "504B72D14FEE36459C4477650B61C372",
        "/repo/veda/ontology/generic-application/veda-layout.ttl": "DB2BC6118BCFEE11854DF47E1211AFD4",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-create.ttl": "D77A39A134A4AD4554AB87707408C05D",
        "/repo/veda/ontology/generic-application/decree/veda-decree-blanks.ttl": "BD158BF9CB8CE9CF20E4288B80952D3A",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-blanks.ttl": "706131CC7ECF4E505B09C0313FD2A57C",
        "/repo/veda/ontology/generic-function/veda-function-calendar.ttl": "2809E10B35334711F731929215CF7F6C",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-registries.ttl": "A5650555D7AB81578BDE849413F65C3F",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-rights.ttl": "5007599CA9387203604AAEADE0DC00D5",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-blanks.ttl": "2FE457FF7F4E9E8086E9C9ECC859EE66",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-rights.ttl": "09F84AA0C8202D6E7F0CABB528505F5B",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-index.ttl": "6509216B45CEBD8010BF98FE844CC5E4",
        "/repo/veda/ontology/generic-application/certificationDocument/veda-certificationDocument-schema.ttl": "7E1FD2DEEEB9522F2BE582170E616BE6",
        "/repo/veda/ontology/generic-application/contractor/individuals/veda-individual-LockedReason.ttl": "4A2F2C5A5EE2C6D7BC46B8E59C227257",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-reports.ttl": "6AEDEB883D66BAA7D35C754A132D72CF",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-blanks.ttl": "655C85CFAECA5FBA4099A7B27A93D4BC",
        "/repo/veda/ontology/generic-application/asset/veda-asset-schema.ttl": "9F9A2D81AA83E0B3D719533B15466277",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-index.ttl": "7F840ECC27CD1CBB5D4B1F525B1F2B5F",
        "/repo/veda/ontology/generic-application/communicationMean/individuals/veda-individual-CommunicationMeanTarget.ttl": "44E206E93192AD786A81306E86CA231B",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-blanks.ttl": "12F4EBEF4FECD54E06531884AD720E9F",
        "/repo/veda/ontology/generic-application/activity/veda-activity-registries.ttl": "EA7C725E623E274006FCBB52ABE26907",
        "/repo/veda/ontology/generic-application/activity/veda-activity-rights.ttl": "4282CD2CDAB58CABC9B4069A4C5D1671",
        "/repo/veda/ontology/config.ttl": "88096665737006AB81CA1E9380DA3A36",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-blanks.ttl": "84C557D4B980C1E6D74C0C3C8B962EE5",
        "/repo/veda/ontology/abstract-dictionary/system-accounts.ttl": "E1891286FA0CEA6CF5680411E75D0438",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-rights.ttl": "BAAAB59DC69F4807EAEE7C328E9F49F7",
        "/repo/veda/ontology/generic-function/veda-function-report.ttl": "975CF7089AC24D764C309F6B5D8A6822",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-ui.ttl": "E0084D726639F09304CDF08F9D735DC3",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-index.ttl": "5AA0A1B57AFF4FDC6D2879FFFBCD130C",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-ui.ttl": "86C286BDBA250B4AEED8C51F3E86EAB1",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-blanks.ttl": "7C23659CF8EFCE021AE32B68909F466D",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-rights.ttl": "FA8081170787BD560F11BE0BD15EB963",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-blanks.ttl": "764CD73209114B2B67D97A54A6244DD5",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-index.ttl": "C51E6393A491D0E796C8585B26F71DA2",
        "/repo/veda/ontology/generic-application/contractorProfile/veda-contractorProfile-rights.ttl": "6D272B7C3A494C42EC30E4BB7137056D",
        "/repo/veda/ontology/generic-application/asset/veda-asset-index.ttl": "09A57DDEF16B78DD3C47E6DE97E006ED",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-ui.ttl": "75421382FA55992B24612C8630CC6DCD",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-rights.ttl": "A9D1887A30F34AF49F685870A4343D16",
        "/repo/veda/ontology/generic-application/asset/veda-asset-reports.ttl": "B84076B575B441AD82DE00178C710215",
        "/repo/veda/ontology/generic-application/decree/veda-decree-registries.ttl": "51A556544EC5883372ACEABD172C3B31",
        "/repo/veda/ontology/generic-application/veda-admin-aspect.ttl": "5AA8BD351B1208A964C1F7B324CCCD83",
        "/repo/veda/ontology/generic-application/contractorProfile/veda-contractorProfile-blanks.ttl": "D4F925219E58354D06D0BD6F46742B58",
        "/repo/veda/ontology/abstract-dictionary/veda-bundle.ttl": "0C8B80CA49461F39D437A85D7BD9364F",
        "/repo/veda/ontology/generic-application/contract/veda-contract-registries.ttl": "3508325BD64E6AC7960707C1417235F1",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-blanks.ttl": "3B056DD0D785F32BD7F22CAB131E210E",
        "/repo/veda/ontology/generic-application/contractorProfile/veda-contractorProfile-ui.ttl": "DD8C1000F89A74FBE95AB2E676AD840B",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-schema.ttl": "8D82A7C53F3BE944EEDE30FBF72333FE",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-reports.ttl": "DD1A7451820236B6DEF799E32F63936A",
        "/repo/veda/ontology/generic-application/veda-schema-Activity.ttl": "9F900AE6B9B0BC2A95ACAF72086A43FD",
        "/repo/veda/ontology/generic-application/audit/veda-audit-reports.ttl": "A98B9C568EDD7CE9CA94253BA377E500",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-ui.ttl": "41476A97A59ED33CCFDC74956415E35A",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-rights.ttl": "3F6B81877840704F5BF95844F674611A",
        "/repo/veda/ontology/generic-application/audit/veda-audit-blanks.ttl": "1955C32D32CD6024E9DBD37053E4A600",
        "/repo/veda/ontology/system-core/veda-core.ttl": "6951099BC33C6941E64348B43BB378A4",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-schema.ttl": "DB29E5A111D8FB69C663A15C3FE2C494",
        "/repo/veda/ontology/generic-function/veda-function-news.ttl": "94D946A2081B724E8CC6498001F20380",
        "/repo/veda/ontology/generic-application/activity/veda-activity-reports.ttl": "89A08472BAA5708C1088545EAB03934E",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-rights.ttl": "CB4D794130F772B6FA338304EF9275C0",
        "/repo/veda/ontology/abstract-dictionary/config-base.ttl": "684C989480B417B31864B00D9EC9FB49",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-ui.ttl": "A02CA76C81B0ED172548C3917950080F",
        "/repo/veda/ontology/generic-function/veda-schema-Delegation.ttl": "C32EECF009AD35591EA06C8C7AA6B667",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-registries.ttl": "FE9DE87DEF9828CBDA6148AD317C2C2B",
        "/repo/veda/ontology/system-core/veda-ui.ttl": "F73B3F6F83D87DE00B248F45EDC7F615",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-reports.ttl": "8029CEE801FB3D084A15E9D4E524DD60",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-index.ttl": "83C8517414BCF85EB74858FABD4F571C",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-index.ttl": "ADDC4DB39528F139FD0399035BCEE821",
        "/repo/veda/ontology/generic-application/decree/veda-decree-rights.ttl": "F285B27697A056AFE8ACB444A47D0630",
        "/repo/veda/ontology/generic-application/contractorProfile/veda-contractorProfile-schema.ttl": "0228E9B0494A378874571CCCFE050004",
        "/repo/veda/ontology/bpmn/veda-bpmn-external-task-handler.ttl": "9196AAD517C1F32A9FD7BBA39EB492C9",
        "/repo/veda/ontology/generic-function/veda-complex-label.ttl": "0EFE629CB76CD17905AC1CBB8AE3EEEA",
        "/repo/veda/ontology/generic-application/veda-aspect.ttl": "2359FDD9B186C1C828267590EC0F2CEA",
        "/repo/veda/ontology/generic-application/audit/veda-audit-registries.ttl": "CDFC5791AF236A0C1AC3555F091C815C",
        "/repo/veda/ontology/generic-application/contract/veda-contract-index.ttl": "4162C7E68FB6F518CD7CBF7054191E31",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-rights.ttl": "904864C2AD53FE8208F01E5F4A6D6F61",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-search.ttl": "93631A3761E4E74C1CAC9423FF5D2D13",
        "/repo/veda/ontology/generic-function/veda-index.ttl": "823DECFF334AA5A51D3BC06A0A6D5C2C",
        "/repo/veda/ontology/abstract-dictionary/organization/veda-organization-individuals.ttl": "095C8C5469BEF4008CA1F5FA79B60D21",
        "/repo/veda/ontology/generic-function/veda-function-example.ttl": "7FE63F89EADC8554AE2A1B27CA0B8578",
        "/repo/veda/ontology/generic-application/businessTrip/veda-businessTrip-ui.ttl": "0318CC518326CB4EFAF18D664073B2AE",
        "/repo/veda/ontology/generic-function/veda-function-script.ttl": "CD6FD64A264C46594E5839802B15470E",
        "/repo/veda/ontology/generic-application/veda-schema-Initiative.ttl": "C78C4A5A2DB213A446511B98F8278519",
        "/repo/veda/ontology/generic-function/veda-ontology-editor.ttl": "01A1F13EA4AF6E2137CF867CDFD32618",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-blanks.ttl": "BE6A73D499042B0CE5F43BE6BE855073",
        "/repo/veda/ontology/generic-application/activity/veda-activity-blanks.ttl": "AB2E9D79758643C78C5D70FE97534011",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-index.ttl": "12C5F640A6D12F07B2323B6400B1EF34",
        "/repo/veda/ontology/generic-application/technicalDocument/veda-technicalDocument-schema.ttl": "7CCC27C90C0D5DE40868AB9D446FD84E",
        "/repo/veda/ontology/generic-application/activity/veda-activity-ui.ttl": "BA32BCC42EDDF535D4E63519D9529C15",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-schema.ttl": "A3C10239E934244ECEF6B6F44DFC2C3E",
        "/repo/veda/ontology/generic-function/veda-email.ttl": "A8D2C75E3AD743EB51512FD89E4FE396",
        "/repo/veda/ontology/generic-function/veda-function-contacts.ttl": "033F94CA1A662F4A83E743E7B23506AB",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-blanks.ttl": "3BD1578DF75FA93BA650ECE59F4F6F87",
        "/repo/veda/ontology/generic-application/classSpecification/veda-classSpecification-schema.ttl": "F177391C1C2D6E3245D269A170828564",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-ui.ttl": "E6DE020B5FFC258232150A0D186D7038",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-reports.ttl": "769DE685F640FE8E77186B11316A4F07",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-registries.ttl": "88C9BC17DE1906E100D058E747E26283",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-ui.ttl": "46F35BC0C27366EABD5ED858107A51CD",
        "/repo/veda/ontology/generic-application/contract/veda-contract-reports.ttl": "B7A908A37400E0469992771797F83FBF",
        "/repo/veda/ontology/generic-application/veda-schema-Documentation.ttl": "B39345355693756FC4048A5926E0C7DE",
        "/repo/veda/ontology/system-accounts.ttl": "6AA69964C4D40C3846E43B113AC5650C",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-registries.ttl": "29E7054A31A537327CB3CF2DC4CA7CE4",
        "/repo/veda/ontology/generic-function/veda-schema-Comment.ttl": "BCA7D04275B4AD84C3F7B51046F53B4B",
        "/repo/veda/ontology/system-core/veda-config.ttl": "36E641064DF8801D42037D3E2815598D",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-reports.ttl": "C4B3B7F74AE43CD69896E40FDB4EEC0A",
        "/repo/veda/ontology/generic-application/contractorProfile/individuals/veda-individual-ContractorInteractionCategory.ttl": "0DE87B7B01F89FD31F1EC70908DBA192",
        "/repo/veda/ontology/generic-application/asset/veda-asset-rights.ttl": "1F71EDA454902B0087A7CE3399973838",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-index.ttl": "C020FFC7920B5B3E2CF4FF129CB5D5F0",
        "/repo/veda/ontology/generic-application/audit/veda-audit-index.ttl": "60B1FBAFB5FD3F46A8C4BD634D843923",
        "/repo/veda/ontology/generic-application/internalDocument/veda-internal-document-schema.ttl": "D5D0E7A5B5FDA3095379A580B0095FB7",
        "/repo/veda/ontology/bpmn/veda-bpmn-test.ttl": "4AE86D968A661510AB37F60D528E1512",
        "/repo/veda/ontology/generic-application/passRequest/veda-passRequest-index.ttl": "E0B88A98BA8A74BB597B19755B24059A",
        "/repo/veda/ontology/generic-function/veda-schema.ttl": "5D85C6922E675B8FEAFF9CEB80F00815",
        "/repo/veda/ontology/generic-function/veda-function-links.ttl": "837718ACF164355FBB806D1517F96E16",
        "/repo/veda/ontology/generic-application/regulatoryDocument/veda-regulatoryDocument-schema.ttl": "55F60FFF9BAABE6686EED30605973C13",
        "/repo/veda/ontology/generic-application/contract/veda-contract-ui.ttl": "C3415114C9A7F1DDD8791FB1FFF344B1",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-schema.ttl": "FA3732C02084208358721B755FF19233",
        "/repo/veda/ontology/generic-application/meeting/veda-meeting-rights.ttl": "6536B216D21D9C659F7FB95E27F897B3",
        "/repo/veda/ontology/generic-application/decree/veda-decree-index.ttl": "BBF4D0C716693BC7551187A1EAFE894E",
        "/repo/veda/ontology/system-core/rdf-schema.ttl": "EA6F15ABC25F12725EB21E7CA92AE7BC",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-blanks.ttl": "09AD74E81DCC98680CB26C92189C9F58",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-rights.ttl": "9884D16C66E7FDE0880E333129563196",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-schema.ttl": "26B61DF6C601432BB58045DE66B09FFA",
        "/repo/veda/ontology/generic-application/processRating/veda-processRating-index.ttl": "2BE8597CB038664A1AC925456ED39730",
        "/repo/veda/ontology/generic-application/additionalAgreement/veda-additionalAgreement-registries.ttl": "4A9E030A3C845A6E9D4E6001AC48624C",
        "/repo/veda/ontology/generic-application/contractor/veda-contractor-index.ttl": "D0A1A8F43D80CA479945B77157BA0964",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-reports.ttl": "44EF8B202533540736DD54E5EADCD2DD",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-search.ttl": "0AD4A953E76751B20A1F106E3525FE38",
        "/repo/veda/ontology/generic-application/internalAccountingDocument/veda-internalAccountingDocument-index.ttl": "827079BAA45C8AD0F6C4CAA03FD910E9",
        "/repo/veda/ontology/bpmn/test-process.ttl": "FEF1010FE97444F0D14533B7FD558DCA",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-schema.ttl": "2A072328B5BFEBC31F0154479D060AD2",
        "/repo/veda/ontology/generic-application/normativeDocument/veda-normativeDocument-ui.ttl": "E0AB60E55DE555A14409A2D0B625EF82",
        "/repo/veda/ontology/generic-application/powerOfAttorney/veda-powerOfAttorney-registries.ttl": "DA18E31AD0BAD0E8E029086C4E2D8941",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-blanks.ttl": "5A5DACE12A7FC9E3E5C3F70B5120C3B0",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-index.ttl": "CD8CFF54A792853254D5AD9373805603",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-registries.ttl": "7D44B6F9EFC89A58D9CC877CD4B70BF1",
        "/repo/veda/ontology/generic-application/activity/veda-activity-index.ttl": "5FDB9EFE0094883859A3ED5D4CD59F0F",
        "/repo/veda/ontology/veda-version.ttl": "88FB1FF3C66A5C09A07A37BBF020AA1C",
        "/repo/veda/ontology/generic-application/audit/veda-audit-rights.ttl": "3966EEAE776E407E4A9FE686E63BAA9B",
        "/repo/veda/ontology/generic-application/communicationMean/individuals/veda-individual-CommunicationMeanChannel.ttl": "3F520795726058F000C9069EF36494CB",
        "/repo/veda/ontology/generic-application/claimManagment/veda-claimManagment-blanks.ttl": "66EF1E1379C34EA794B57D31615E82B8",
        "/repo/veda/ontology/generic-application/veda-schema-Vehicle.ttl": "F3047CFDD37483D88F0AE432028E5615",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-schema.ttl": "FC1C626B486CBA8F98A452C0CE7CD4A6",
        "/repo/veda/ontology/generic-application/contractorProfileSafety/veda-contractorProfileSafety-schema.ttl": "5786FED28C1DDD8D2884B5955FFEA3B4",
        "/repo/veda/ontology/generic-application/currencyExchangeRate/veda-currencyExchangeRate-reports.ttl": "2B3135828490998B42364874F281A0D7",
        "/repo/veda/ontology/generic-application/audit/veda-audit-ui.ttl": "56A586A8C20147BEFDAF25F9BE4F046C",
        "/repo/veda/ontology/generic-function/veda-function-tasks.ttl": "4908008D833EA948DBBF9BD6917B715E",
        "/repo/veda/ontology/system-core/22-rdf-syntax-ns.ttl": "2A3C6A5E6620E4B02BB46DD57C701A8B",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-reports.ttl": "EAFF88AFD343FC350D8B12BE27ACB8DE",
        "/repo/veda/ontology/generic-function/veda-schema-Subscription.ttl": "19A8425BEFB2797E039F64AEEB8B1517",
        "/repo/veda/ontology/generic-application/correspondence/veda-correspondence-reports.ttl": "E1AC6300E9896E9A232C81C9E9724B27",
        "/repo/veda/ontology/generic-application/contractRequest/veda-contractRequest-ui.ttl": "857D55DEDC239CA6CEC56D980B03A873",
        "/repo/veda/ontology/generic-application/itil/veda-itil-schema.ttl": "C9BEC3D27F1E5DD25E3E5404B5F697B7",
        "/repo/veda/ontology/generic-function/veda-function-search.ttl": "1A7FF5162092AD5CD893A9474CA7B187",
        "/repo/veda/ontology/bpmn/veda-bpmn-simple-complex.ttl": "1A9C7880DDEE0484708F74F5378687F4",
        "/repo/veda/ontology/generic-application/action/veda-action-schema.ttl": "03BD0911DC0EB570D9A293D4563F9043",
    },
)