---
layout: default
title: О нас
permalink: /90about/
---

<div class="teammate">
  <img class="teammate-img" src="../img/karpovr.png" /> 
  Frontend архитектор.<br/>
  {% include icon-github.html username="karpovr" %}
</div>

<div class="teammate">
  <img class="teammate-img" src="../img/itiu.png" /> 
   Backend архитектор.<br/>
  {% include icon-github.html username="itiu" %}
</div>

<div class="teammate">
  <img class="teammate-img" src="../img/bychina.jpg" /> 
  Системный аналитик.<br/>
</div>

<div class="teammate">
  <img class="teammate-img" src="../img/xupyprmv.jpeg" /> 
  Разработчик.<br/>
  {% include icon-github.html username="xupyprmv" %}
</div>

<div class="teammate">
  <img class="teammate-img" src="../img/lexiqq.jpg" /> 
  Системный аналитик, Fronend разработчик.<br/>
</div>
