name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Install dependencies and other required software
      - name: Install
        run: |
          sudo apt-get clean
          sudo apt-get update
          sudo apt-get install dpkg

          sudo apt-get install -y firefox xvfb libgtk-3-0 libdbus-glib-1-2 libx11-xcb1 libxcomposite1 libxcursor1 libxdamage1 libxi6 libxtst6 libnss3 libcups2 libxss1 libxrandr2 libasound2 libpangocairo-1.0-0 libatk1.0-0 libcairo-gobject2 libgtk-3-0 libgdk-pixbuf2.0-0
          GECKODRIVER_VERSION=$(curl -s https://api.github.com/repos/mozilla/geckodriver/releases/latest | grep '"tag_name"' | sed -E 's/.*"tag_name": "([^"]+)".*/\1/')
          wget -O /tmp/geckodriver.tar.gz "https://github.com/mozilla/geckodriver/releases/download/${GECKODRIVER_VERSION}/geckodriver-${GECKODRIVER_VERSION}-linux64.tar.gz"
          tar -xzf /tmp/geckodriver.tar.gz -C /tmp
          sudo mv /tmp/geckodriver /usr/local/bin/geckodriver
          sudo chmod +x /usr/local/bin/geckodriver
          geckodriver --version

          npm install -g testcafe --save-dev
          npm install baretest --save-dev
          ./tools/install-tarantool.sh
          ./control-install.sh
          source $HOME/.cargo/env

      # Print versions for debugging
      - name: Print versions
        run: |
          node --version
          testcafe --version
          testcafe --list-browsers
          rustc -V

      # Build the project
      - name: Build
        run: |
          source $HOME/.cargo/env
          export CARGO_TARGET_DIR=$HOME/target
          ./build.sh

      # Run tests
      - name: Test
        run: |
          ./control-start.sh
          sleep 200
          #tail -n +1 ./data/tarantool/tarantool.log
          #tail -n +1 ./logs/*.log
          cd ./source-web && npm test
        continue-on-error: false

      # Загружаем скриншоты как артефакты (если они есть)
      - name: Upload TestCafe screenshots
        if: failure()  # Выполняется только при сбое тестов
        uses: actions/upload-artifact@v4
        with:
          name: testcafe-screenshots
          path: ./source-web/screenshots/  # Путь к папке с сохраненными скриншотами

      # Prepare logs for upload
      - name: Prepare logs for upload
        if: failure()
        run: |
          mkdir sanitized_logs
          for file in ./logs/*; do
            # Replace colons with underscores in the filename
            new_name=$(basename "$file" | tr ':' '_')
            cp "$file" "./sanitized_logs/$new_name"
          done
      # Upload sanitized logs as artifacts
      - name: Upload logs
        if: failure()  # Runs only when tests fail
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: ./sanitized_logs/
          if-no-files-found: warn
          compression-level: 6
          overwrite: false
          include-hidden-files: false
